{{! Ancestry Details Tab - Unified scrolling container }}
<section
  class='tab details {{tab.cssClass}}'
  data-group='primary'
  data-tab='details'
>
  {{! Unified content container with single scroll }}
  <div class='ancestry-item-content'>
    {{! Description Section }}
    <div>
      <label class='resource-label'>{{localize 'VAGABOND.Item.Tabs.Description'}}</label>
      <div class='ancestry-description'>
        {{#if editable}}
          <prose-mirror name="system.description" data-document-uuid="{{item.uuid}}" value="{{system.description}}" collaborate="true" toggled="true">
            {{{enrichedDescription}}}
          </prose-mirror>
        {{else}} 
          <div>{{{enrichedDescription}}}</div>
        {{/if}}
      </div>
    </div>

    {{! Traits Section }}
    <div class='traits-section mt-20'>
      <div class='title-with-button'>
        <h3>{{localize "VAGABOND.UI.Sections.Traits"}}</h3>
        {{#if editable}}
          <button
            type='button'
            class='item-control btn-sm'
            data-action='addTrait'
            data-tooltip='Add New Trait'
          >
            <i class='fas fa-plus'></i> Add Trait
          </button>
        {{/if}}
      </div>

      <div class='scrollable'>
        <ol class='items-list'>
          {{#if system.traits.length}}
            {{#each system.traits as |trait index|}}
            {{#with (lookup @root.enrichedTraits index) as |enrichedTrait|}}
            <li class='item' data-trait-index='{{index}}'>
              {{! First row: Trait name + delete button }}
              <div class='flexrow'>
                {{#if @root.editable}}
                  <div class='item-name'>
                    <input
                      type='text'
                      name='system.traits.{{index}}.name'
                      value='{{trait.name}}'
                      placeholder='Trait Name'
                      data-dtype='String'
                      class='trait-title'
                    />
                  </div>
                  <div class='item-controls'>
                    <a class='item-control'
                      data-action='removeTrait'
                      data-trait-index='{{index}}'
                      data-tooltip='Remove Trait'
                    >
                      <i class='fas fa-trash'></i>
                    </a>
                  </div>
                {{else}}
                  <div class='item-name'>
                    <strong class='trait-title'>{{trait.name}}</strong>
                  </div>
                {{/if}}
              </div>
              
              {{! Second row: Description (outside flexrow) }}
              <div class='trait-description'>
                {{#if @root.editable}}
                  <input
                    type="text"
                    name='system.traits.{{index}}.description'
                    value='{{trait.description}}'
                    placeholder='Trait description...'
                    data-dtype='String'
                  />
                {{else}}
                  <div>{{trait.description}}</div>
                {{/if}}
              </div>

              {{! Configuration fields for grants (only show in edit mode) }}
              {{#if @root.editable}}
              <details class='trait-grants mt-5'>
                <summary><small>⚙️ Configure Grants</small></summary>
                <div class='grants-content p-5'>

                  {{! Stat Bonus Points }}
                  <div class='form-group'>
                    <label>Stat Bonus Points:</label>
                    <input type='number' name='system.traits.{{index}}.statBonusPoints' value='{{trait.statBonusPoints}}' min='0' max='10' style='width: 60px;' />
                    <small class='hint'>Each point gives +1 to any stat &lt;7 (player chooses)</small>
                  </div>

                  {{! Required Spells }}
                  <div class='form-group mt-10'>
                    <label>Required Spells:</label>
                    <div class='spell-drop-zone' data-trait-index='{{index}}'>
                      {{#if enrichedTrait.enrichedSpells.length}}
                        {{#each enrichedTrait.enrichedSpells as |spell spellIndex|}}
                          <div class='spell-tag' data-uuid='{{spell.uuid}}'>
                            <img src='{{spell.img}}' alt='{{spell.name}}' />
                            <span>{{spell.name}}</span>
                            <button type='button' data-action='removeTraitSpell' data-spell-uuid='{{spell.uuid}}'><i class='fas fa-times'></i></button>
                          </div>
                        {{/each}}
                      {{else}}
                        <p class='placeholder-text'>Drag spells here</p>
                      {{/if}}
                    </div>
                  </div>

                  {{! Allowed Perks }}
                  <div class='form-group mt-10'>
                    <label>Allowed Perks (filters perk list):</label>
                    <div class='perk-drop-zone' data-trait-index='{{index}}'>
                      {{#if enrichedTrait.enrichedPerks.length}}
                        {{#each enrichedTrait.enrichedPerks as |perk perkIndex|}}
                          <div class='perk-tag' data-uuid='{{perk.uuid}}'>
                            <img src='{{perk.img}}' alt='{{perk.name}}' />
                            <span>{{perk.name}}</span>
                            <button type='button' data-action='removeTraitPerk' data-perk-uuid='{{perk.uuid}}'><i class='fas fa-times'></i></button>
                          </div>
                        {{/each}}
                      {{else}}
                        <p class='placeholder-text'>Drag perks here (leave empty for no restrictions)</p>
                      {{/if}}
                    </div>
                  </div>

                </div>
              </details>
              {{/if}}
            {{/with}}
            </li>
            {{/each}}
          {{else}}
            <li>
              No traits defined.{{#if editable}} Click the + button to add one.{{/if}}
            </li>
          {{/if}}
        </ol>
      </div>
    </div>
  </div>
</section>
