{{! Class Details Tab }}
<section
  class='tab details {{tab.cssClass}}'
  data-group='primary'
  data-tab='details'
>
  {{! Description Section }}
  <div>
    <label class='resource-label'>{{localize 'VAGABOND.Item.Tabs.Description'}}</label>
    <div class='class-description'>
      {{#if editable}}
        <prose-mirror name="system.description" data-document-uuid="{{item.uuid}}" value="{{system.description}}" collaborate="true" toggled="true">
          {{{enrichedDescription}}}
        </prose-mirror>
      {{else}}
        <div>{{{enrichedDescription}}}</div>
      {{/if}}
    </div>
  </div>
</section>
