{{! Class Details Tab }}
<section
  class='tab details {{tab.cssClass}}'
  data-group='primary'
  data-tab='details'
>
  {{! Description Section }}
  <div>
    <label class='resource-label'>{{localize 'VAGABOND.Item.Tabs.Description'}}</label>
    <div class='class-description'>
      {{#if editable}}
        <prose-mirror name="system.description" data-document-uuid="{{item.uuid}}" value="{{system.description}}" collaborate="true" toggled="true">
          {{{enrichedDescription}}}
        </prose-mirror>
      {{else}}
        <div>{{{enrichedDescription}}}</div>
      {{/if}}
    </div>
  </div>

  {{! Spellcaster Fields Section }}
  <div class='class-fields' style='margin-top: 20px;'>
    <h3>Spellcaster Configuration</h3>

    {{! Is Spellcaster Checkbox }}
    <div class='form-group' style='margin-bottom: 15px;'>
      <label class='resource-label'>
        <input
          type='checkbox'
          name='system.isSpellcaster'
          {{checked system.isSpellcaster}}
          {{#unless editable}}disabled{{/unless}}
        />
        Is Spellcaster
      </label>
      <p class='hint'>Check if this class can cast spells</p>
    </div>

    {{! Mana Skill Dropdown }}
    <div class='form-group' style='margin-bottom: 15px;'>
      <label class='resource-label'>Mana Skill</label>
      <select
        name='system.manaSkill'
        {{#unless editable}}disabled{{/unless}}
      >
        <option value=''>-- Select Skill --</option>
        <option value='arcana' {{#if (eq system.manaSkill 'arcana')}}selected{{/if}}>Arcana</option>
        <option value='craft' {{#if (eq system.manaSkill 'craft')}}selected{{/if}}>Craft</option>
        <option value='medicine' {{#if (eq system.manaSkill 'medicine')}}selected{{/if}}>Medicine</option>
        <option value='brawl' {{#if (eq system.manaSkill 'brawl')}}selected{{/if}}>Brawl</option>
        <option value='finesse' {{#if (eq system.manaSkill 'finesse')}}selected{{/if}}>Finesse</option>
        <option value='sneak' {{#if (eq system.manaSkill 'sneak')}}selected{{/if}}>Sneak</option>
        <option value='detect' {{#if (eq system.manaSkill 'detect')}}selected{{/if}}>Detect</option>
        <option value='mysticism' {{#if (eq system.manaSkill 'mysticism')}}selected{{/if}}>Mysticism</option>
        <option value='survival' {{#if (eq system.manaSkill 'survival')}}selected{{/if}}>Survival</option>
        <option value='influence' {{#if (eq system.manaSkill 'influence')}}selected{{/if}}>Influence</option>
        <option value='leadership' {{#if (eq system.manaSkill 'leadership')}}selected{{/if}}>Leadership</option>
        <option value='performance' {{#if (eq system.manaSkill 'performance')}}selected{{/if}}>Performance</option>
      </select>
      <p class='hint'>The skill used for mana calculations</p>
    </div>

    {{! Casting Stat Dropdown }}
    <div class='form-group' style='margin-bottom: 15px;'>
      <label class='resource-label'>Casting Stat</label>
      <select
        name='system.castingStat'
        {{#unless editable}}disabled{{/unless}}
      >
        <option value=''>-- Select Stat --</option>
        <option value='might' {{#if (eq system.castingStat 'might')}}selected{{/if}}>Might</option>
        <option value='dexterity' {{#if (eq system.castingStat 'dexterity')}}selected{{/if}}>Dexterity</option>
        <option value='reason' {{#if (eq system.castingStat 'reason')}}selected{{/if}}>Reason</option>
        <option value='awareness' {{#if (eq system.castingStat 'awareness')}}selected{{/if}}>Awareness</option>
        <option value='presence' {{#if (eq system.castingStat 'presence')}}selected{{/if}}>Presence</option>
        <option value='luck' {{#if (eq system.castingStat 'luck')}}selected{{/if}}>Luck</option>
      </select>
      <p class='hint'>The stat used for spellcasting</p>
    </div>
  </div>
</section>
