{{! Gear Details Tab }}
<section
  class='tab details {{tab.cssClass}}'
  data-group='primary'
  data-tab='details'
>
  <div class='gear-item-content'>
    {{! Description Section }}
    <div>
      <label class='resource-label'>{{localize 'VAGABOND.Item.base.FIELDS.description.label'}}</label>
      <div class='gear-description'>
        {{#if editable}}
          <prose-mirror name="system.description" data-document-uuid="{{item.uuid}}" value="{{system.description}}" collaborate="true" toggled="true">
            {{{enriched.description}}}
          </prose-mirror>
        {{else}}
          <div>{{{enriched.description}}}</div>
        {{/if}}
      </div>
    </div>

    {{! Type }}
    <div class='form-group'>
      <label class='resource-label'>{{localize 'VAGABOND.Item.Gear.FIELDS.type.label'}}</label>
      <input
        type='text'
        name='system.type'
        value='{{system.type}}'
        data-dtype='String'
        placeholder='e.g., Alchemy & Medicine'
      />
    </div>

    {{! Damage Type and Amount - Combined Row }}
    <div class='form-group'>
      <label class='resource-label'>Damage Type & Amount</label>
      <div class='flexrow gap-8'>
        <div class='flex-2'>
          <label class='resource-label'>Type</label>
          <select name='system.damageType' data-dtype='String'>
            <option value='-' {{#if (eq system.damageType '-')}}selected{{/if}}>{{localize 'VAGABOND.DamageTypes.None'}}</option>
            <option value='acid' {{#if (eq system.damageType 'acid')}}selected{{/if}}>{{localize 'VAGABOND.DamageTypes.Acid'}}</option>
            <option value='fire' {{#if (eq system.damageType 'fire')}}selected{{/if}}>{{localize 'VAGABOND.DamageTypes.Fire'}}</option>
            <option value='shock' {{#if (eq system.damageType 'shock')}}selected{{/if}}>{{localize 'VAGABOND.DamageTypes.Shock'}}</option>
            <option value='poison' {{#if (eq system.damageType 'poison')}}selected{{/if}}>{{localize 'VAGABOND.DamageTypes.Poison'}}</option>
            <option value='cold' {{#if (eq system.damageType 'cold')}}selected{{/if}}>{{localize 'VAGABOND.DamageTypes.Cold'}}</option>
            <option value='blunt' {{#if (eq system.damageType 'blunt')}}selected{{/if}}>{{localize 'VAGABOND.DamageTypes.Blunt'}}</option>
            <option value='physical' {{#if (eq system.damageType 'physical')}}selected{{/if}}>{{localize 'VAGABOND.DamageTypes.Physical'}}</option>
            <option value='necrotic' {{#if (eq system.damageType 'necrotic')}}selected{{/if}}>{{localize 'VAGABOND.DamageTypes.Necrotic'}}</option>
            <option value='psychic' {{#if (eq system.damageType 'psychic')}}selected{{/if}}>{{localize 'VAGABOND.DamageTypes.Psychic'}}</option>
            <option value='healing' {{#if (eq system.damageType 'healing')}}selected{{/if}}>{{localize 'VAGABOND.DamageTypes.Healing'}}</option>
          </select>
        </div>
        <div class='flex-1'>
          <label class='resource-label'>Amount</label>
          <input
            type='text'
            name='system.damageAmount'
            value='{{system.damageAmount}}'
            data-dtype='String'
            placeholder='e.g., 2d6, 1d8+2'
          />
        </div>
      </div>
    </div>

    {{! Cost Section - 3 Column Grid Layout }}
    <div class='form-group'>
      <label class='resource-label'>{{localize 'VAGABOND.Item.Gear.FIELDS.cost.label'}}</label>
      <div class='cost-inputs'>
        <div class='cost-field'>
          <label class='resource-label'>Gold</label>
          <input
            type='number'
            name='system.cost.gold'
            value='{{system.cost.gold}}'
            min='0'
            data-dtype='Number'
          />
        </div>
        <div class='cost-field'>
          <label class='resource-label'>Silver</label>
          <input
            type='number'
            name='system.cost.silver'
            value='{{system.cost.silver}}'
            min='0'
            data-dtype='Number'
          />
        </div>
        <div class='cost-field'>
          <label class='resource-label'>Copper</label>
          <input
            type='number'
            name='system.cost.copper'
            value='{{system.cost.copper}}'
            min='0'
            data-dtype='Number'
          />
        </div>
      </div>
    </div>
  </div>
</section>
