{{! Spell Details Tab }}
<section
  class='tab details {{tab.cssClass}}'
  data-group='primary'
  data-tab='details'
>
  <div class='spell-item-content'>
    {{! Description Section }}
    <div>
      <label class='resource-label'>{{localize 'VAGABOND.Item.Spell.FIELDS.description.label'}}</label>
      <div class='spell-description'>
        {{#if editable}}
          <prose-mirror name="system.description" data-document-uuid="{{item.uuid}}" value="{{system.description}}" collaborate="true" toggled="true">
            {{{enriched.description}}}
          </prose-mirror>
        {{else}}
          <div>{{{enriched.description}}}</div>
        {{/if}}
      </div>
    </div>

    {{! Damage Base and Duration - Same Line }}
    <div class='flexrow gap-8'>
      <div class='form-group flex-1'>
        <label class='resource-label'>{{localize "VAGABOND.UI.Labels.DamageBase"}}</label>
        {{> "systems/vagabond/templates/shared/damage-type-select.hbs" 
            name="system.damageType" 
            selected=system.damageType 
            includeNone=true 
            config=config}}
      </div>
      <div class='form-group flex-2'>
        <label class='resource-label'>{{localize 'VAGABOND.Item.Spell.FIELDS.duration.label'}}</label>
        <input
          type='text'
          name='system.duration'
          value='{{system.duration}}'
          placeholder='{{localize "VAGABOND.Item.Spell.FIELDS.duration.hint"}}'
        />
      </div>
    </div>

    {{! Exploding Dice Configuration }}
    <div class='form-group'>
      <label class='resource-label'>{{localize "VAGABOND.UI.Labels.ExplodingDice"}}</label>
      <div class='grid grid-2col gap-8'>
        <div class='explode-checkbox-field'>
          <label class='checkbox-label'>
            <input
              type='checkbox'
              name='system.canExplode'
              {{#if system.canExplode}}checked{{/if}}
              data-dtype='Boolean'
            />
            <span>{{localize "VAGABOND.UI.Labels.CanExplode"}}</span>
          </label>
        </div>
        <div class='explode-values-field'>
          <label class='resource-label'>{{localize "VAGABOND.UI.Labels.ExplodeOn"}}</label>
          <input
            type='text'
            name='system.explodeValues'
            value='{{system.explodeValues}}'
            data-dtype='String'
            placeholder='e.g., 1,4'
            {{#unless system.canExplode}}disabled{{/unless}}
          />
        </div>
      </div>
    </div>

    {{! No Roll Required Checkbox }}
    <div class='form-group'>
      <label class='checkbox-label'>
        <input
          type='checkbox'
          name='system.noRollRequired'
          {{#if system.noRollRequired}}checked{{/if}}
          data-dtype='Boolean'
        />
        <span>{{localize "VAGABOND.UI.Labels.NoRollRequired"}}</span>
      </label>
      <p class='notes'>When enabled, this spell bypasses the casting check and always succeeds (no criticals possible).</p>
    </div>

    {{! Crit }}
    <div class='form-group'>
      <label class='resource-label'>{{localize 'VAGABOND.Item.Spell.FIELDS.crit.label'}}</label>
      <input
        type='text'
        name='system.crit'
        value='{{system.crit}}'
        placeholder='{{localize "VAGABOND.Item.Spell.FIELDS.crit.hint"}}'
      />
    </div>
  </div>
</section>
