{{! Weapon Details Tab }}
<section
  class='tab details {{tab.cssClass}}'
  data-group='primary'
  data-tab='details'
>
  <div class='weapon-item-content'>
    {{! Description Section }}
    <div>
      <label class='resource-label'>{{localize 'VAGABOND.Item.base.FIELDS.description.label'}}</label>
      <div class='weapon-description'>
        {{#if editable}}
          <prose-mirror name="system.description" data-document-uuid="{{item.uuid}}" value="{{system.description}}" collaborate="true" toggled="true">
            {{{enriched.description}}}
          </prose-mirror>
        {{else}}
          <div>{{{enriched.description}}}</div>
        {{/if}}
      </div>
    </div>

    {{! Weapon Skill and Damage - Combined Row Layout }}
    <div class='form-group'>
      <label class='resource-label'>Skill & Damage</label>
      <div class='weapon-skill-damage'>
        <select name='system.weaponSkill' data-dtype='String' class='weapon-skill-select'>
          {{#select system.weaponSkill}}
            <option value='melee'>{{localize 'VAGABOND.WeaponSkills.Melee'}}</option>
            <option value='brawl'>{{localize 'VAGABOND.WeaponSkills.Brawl'}}</option>
            <option value='finesse'>{{localize 'VAGABOND.WeaponSkills.Finesse'}}</option>
            <option value='ranged'>{{localize 'VAGABOND.WeaponSkills.Ranged'}}</option>
          {{/select}}
        </select>
        <div class='damage-with-icon'>
          <i class='fas fa-hand-fist' data-tooltip='One Hand Damage'></i>
          <input
            type='text'
            name='system.damageOneHand'
            value='{{system.damageOneHand}}'
            data-dtype='String'
            placeholder='d8'
            class='damage-input'
          />
        </div>
        <div class='damage-with-icon'>
          <i class='fas fa-hands' data-tooltip='Two Hands Damage'></i>
          <input
            type='text'
            name='system.damageTwoHands'
            value='{{system.damageTwoHands}}'
            data-dtype='String'
            placeholder='d10'
            class='damage-input'
          />
        </div>
      </div>
    </div>

    {{! Properties }}
    <div class='form-group'>
      <label class='resource-label'>{{localize 'VAGABOND.Item.Weapon.FIELDS.properties.label'}}</label>
      <div class='property-selector-row'>
        <div class='property-checkboxes'>
          <label class='property-checkbox-item'>
            <input type='checkbox' value='Brawl' {{#if (contains system.properties 'Brawl')}}checked{{/if}} data-action='toggleWeaponProperty' data-property='Brawl' data-tooltip='{{lookup config.weaponPropertyHints "Brawl"}}'>
            <span>Brawl</span>
          </label>
          <label class='property-checkbox-item'>
            <input type='checkbox' value='Brutal' {{#if (contains system.properties 'Brutal')}}checked{{/if}} data-action='toggleWeaponProperty' data-property='Brutal' data-tooltip='{{lookup config.weaponPropertyHints "Brutal"}}'>
            <span>Brutal</span>
          </label>
          <label class='property-checkbox-item'>
            <input type='checkbox' value='Cleave' {{#if (contains system.properties 'Cleave')}}checked{{/if}} data-action='toggleWeaponProperty' data-property='Cleave' data-tooltip='{{lookup config.weaponPropertyHints "Cleave"}}'>
            <span>Cleave</span>
          </label>
          <label class='property-checkbox-item'>
            <input type='checkbox' value='Entangle' {{#if (contains system.properties 'Entangle')}}checked{{/if}} data-action='toggleWeaponProperty' data-property='Entangle' data-tooltip='{{lookup config.weaponPropertyHints "Entangle"}}'>
            <span>Entangle</span>
          </label>
          <label class='property-checkbox-item'>
            <input type='checkbox' value='Finesse' {{#if (contains system.properties 'Finesse')}}checked{{/if}} data-action='toggleWeaponProperty' data-property='Finesse' data-tooltip='{{lookup config.weaponPropertyHints "Finesse"}}'>
            <span>Finesse</span>
          </label>
          <label class='property-checkbox-item'>
            <input type='checkbox' value='Keen' {{#if (contains system.properties 'Keen')}}checked{{/if}} data-action='toggleWeaponProperty' data-property='Keen' data-tooltip='{{lookup config.weaponPropertyHints "Keen"}}'>
            <span>Keen</span>
          </label>
          <label class='property-checkbox-item'>
            <input type='checkbox' value='Long' {{#if (contains system.properties 'Long')}}checked{{/if}} data-action='toggleWeaponProperty' data-property='Long' data-tooltip='{{lookup config.weaponPropertyHints "Long"}}'>
            <span>Long</span>
          </label>
          <label class='property-checkbox-item'>
            <input type='checkbox' value='Near' {{#if (contains system.properties 'Near')}}checked{{/if}} data-action='toggleWeaponProperty' data-property='Near' data-tooltip='{{lookup config.weaponPropertyHints "Near"}}'>
            <span>Near</span>
          </label>
          <label class='property-checkbox-item'>
            <input type='checkbox' value='Ranged' {{#if (contains system.properties 'Ranged')}}checked{{/if}} data-action='toggleWeaponProperty' data-property='Ranged' data-tooltip='{{lookup config.weaponPropertyHints "Ranged"}}'>
            <span>Ranged</span>
          </label>
          <label class='property-checkbox-item'>
            <input type='checkbox' value='Shield' {{#if (contains system.properties 'Shield')}}checked{{/if}} data-action='toggleWeaponProperty' data-property='Shield' data-tooltip='{{lookup config.weaponPropertyHints "Shield"}}'>
            <span>Shield</span>
          </label>
          <label class='property-checkbox-item'>
            <input type='checkbox' value='Thrown' {{#if (contains system.properties 'Thrown')}}checked{{/if}} data-action='toggleWeaponProperty' data-property='Thrown' data-tooltip='{{lookup config.weaponPropertyHints "Thrown"}}'>
            <span>Thrown</span>
          </label>
        </div>
        <div class='property-tags'>
          {{#each system.properties as |property index|}}
            <span class='property-tag' data-tooltip='{{lookup config.weaponPropertyHints property}}'>
              {{property}}
              <i class='fas fa-times' data-action='removeWeaponProperty' data-property='{{property}}'></i>
            </span>
          {{/each}}
        </div>
      </div>
    </div>

    {{! Metal Type and Base Slots - Combined Row }}
    <div class='form-group'>
      <label class='resource-label'>Metal & Slots</label>
      <div class='metal-slots-row'>
        <div class='metal-field'>
          <label class='resource-label'>Metal</label>
          <select name='system.metal' data-dtype='String'>
            {{#select system.metal}}
              <option value='common' title='{{lookup config.metalData.common "effect"}}'>{{localize 'VAGABOND.Metal.Common'}}</option>
              <option value='adamant' title='{{lookup config.metalData.adamant "effect"}}'>{{localize 'VAGABOND.Metal.Adamant'}}</option>
              <option value='coldIron' title='{{lookup config.metalData.coldIron "effect"}}'>{{localize 'VAGABOND.Metal.ColdIron'}}</option>
              <option value='silver' title='{{lookup config.metalData.silver "effect"}}'>{{localize 'VAGABOND.Metal.Silver'}}</option>
              <option value='mythral' title='{{lookup config.metalData.mythral "effect"}}'>{{localize 'VAGABOND.Metal.Mythral'}}</option>
              <option value='orichalcum' title='{{lookup config.metalData.orichalcum "effect"}}'>{{localize 'VAGABOND.Metal.Orichalcum'}}</option>
            {{/select}}
          </select>
        </div>
        <div class='slots-field'>
          <label class='resource-label'>Base Slots</label>
          <input
            type='number'
            name='system.baseSlots'
            value='{{system.baseSlots}}'
            min='0'
            data-dtype='Number'
          />
        </div>
      </div>
      <div class='metal-effect-text'>{{system.metalEffect}}</div>
    </div>

    {{! Base Cost Section - 3 Column Grid Layout }}
    <div class='form-group'>
      <label class='resource-label'>{{localize 'VAGABOND.Item.Weapon.FIELDS.baseCost.label'}} <small>(before metal multiplier)</small></label>
      <div class='cost-inputs'>
        <div class='cost-field'>
          <label class='resource-label'>Gold</label>
          <input
            type='number'
            name='system.baseCost.gold'
            value='{{system.baseCost.gold}}'
            min='0'
            data-dtype='Number'
          />
        </div>
        <div class='cost-field'>
          <label class='resource-label'>Silver</label>
          <input
            type='number'
            name='system.baseCost.silver'
            value='{{system.baseCost.silver}}'
            min='0'
            data-dtype='Number'
          />
        </div>
        <div class='cost-field'>
          <label class='resource-label'>Copper</label>
          <input
            type='number'
            name='system.baseCost.copper'
            value='{{system.baseCost.copper}}'
            min='0'
            data-dtype='Number'
          />
        </div>
      </div>
    </div>

    {{! Calculated Properties - Read-only Display }}
    <div class='form-group'>
      <label class='resource-label'>Calculated Properties</label>
      <div class='calculated-properties'>
        <div class='calculated-item'>
          <span class='calc-label'>Final Slots:</span>
          <span class='calc-value'>{{system.slots}}</span>
        </div>
        <div class='calculated-item'>
          <span class='calc-label'>Final Cost:</span>
          <span class='calc-value'>{{system.costDisplay}}</span>
        </div>
      </div>
    </div>
  </div>
</section>
