{{! Weapon Details Tab }}
<section
  class='tab details {{tab.cssClass}}'
  data-group='primary'
  data-tab='details'
>
  <div class='weapon-item-content'>
    {{! Description Section }}
    <div>
      <label class='resource-label'>{{localize 'VAGABOND.Item.base.FIELDS.description.label'}}</label>
      <div class='weapon-description'>
        {{#if editable}}
          <prose-mirror name="system.description" data-document-uuid="{{item.uuid}}" value="{{system.description}}" collaborate="true" toggled="true">
            {{{enriched.description}}}
          </prose-mirror>
        {{else}}
          <div>{{{enriched.description}}}</div>
        {{/if}}
      </div>
    </div>

    {{! Damage - Row Layout }}
    <div class='form-group'>
      <label class='resource-label'>Damage</label>
      <div class='damage-inputs'>
        <div class='damage-field'>
          <label class='resource-label'>One Hand</label>
          <input
            type='text'
            name='system.damageOneHand'
            value='{{system.damageOneHand}}'
            data-dtype='String'
            placeholder='e.g., d8'
          />
        </div>
        <div class='damage-field'>
          <label class='resource-label'>Two Hands</label>
          <input
            type='text'
            name='system.damageTwoHands'
            value='{{system.damageTwoHands}}'
            data-dtype='String'
            placeholder='e.g., d10'
          />
        </div>
      </div>
    </div>

    {{! Weapon Skill }}
    <div class='form-group'>
      <label class='resource-label'>{{localize 'VAGABOND.Item.Weapon.FIELDS.weaponSkill.label'}}</label>
      <select name='system.weaponSkill' data-dtype='String'>
        {{#select system.weaponSkill}}
          <option value='melee'>{{localize 'VAGABOND.WeaponSkills.Melee'}}</option>
          <option value='brawl'>{{localize 'VAGABOND.WeaponSkills.Brawl'}}</option>
          <option value='finesse'>{{localize 'VAGABOND.WeaponSkills.Finesse'}}</option>
          <option value='ranged'>{{localize 'VAGABOND.WeaponSkills.Ranged'}}</option>
        {{/select}}
      </select>
    </div>

    {{! Properties }}
    <div class='form-group'>
      <label class='resource-label'>{{localize 'VAGABOND.Item.Weapon.FIELDS.properties.label'}}</label>
      <div class='weapon-properties'>
        {{#each system.properties as |property index|}}
          <div class='weapon-property flexrow gap-8 flex-center mb-4'>
            <select name='system.properties.{{index}}' data-dtype='String' class='flex-1'>
              {{#select property}}
                <option value='Brawl' title='{{lookup config.weaponPropertyHints "Brawl"}}'>Brawl</option>
                <option value='Brutal' title='{{lookup config.weaponPropertyHints "Brutal"}}'>Brutal</option>
                <option value='Cleave' title='{{lookup config.weaponPropertyHints "Cleave"}}'>Cleave</option>
                <option value='Entangle' title='{{lookup config.weaponPropertyHints "Entangle"}}'>Entangle</option>
                <option value='Finesse' title='{{lookup config.weaponPropertyHints "Finesse"}}'>Finesse</option>
                <option value='Keen' title='{{lookup config.weaponPropertyHints "Keen"}}'>Keen</option>
                <option value='Long' title='{{lookup config.weaponPropertyHints "Long"}}'>Long</option>
                <option value='Near' title='{{lookup config.weaponPropertyHints "Near"}}'>Near</option>
                <option value='Ranged' title='{{lookup config.weaponPropertyHints "Ranged"}}'>Ranged</option>
                <option value='Shield' title='{{lookup config.weaponPropertyHints "Shield"}}'>Shield</option>
                <option value='Thrown' title='{{lookup config.weaponPropertyHints "Thrown"}}'>Thrown</option>
              {{/select}}
            </select>
            <button type='button' class='property-hint btn-xs' title='{{lookup config.weaponPropertyHints property}}'>?</button>
            <button type='button' class='btn-xs' data-action='removeWeaponProperty' data-property-index='{{index}}'>×</button>
          </div>
        {{/each}}
        <button type='button' class='mt-4' data-action='addWeaponProperty'>+ Add Property</button>
      </div>
    </div>

    {{! Metal Type }}
    <div class='form-group'>
      <label class='resource-label'>{{localize 'VAGABOND.Item.Weapon.FIELDS.metal.label'}}</label>
      <select name='system.metal' data-dtype='String'>
        {{#select system.metal}}
          <option value='common' title='{{lookup config.metalData.common "effect"}}'>{{localize 'VAGABOND.Metal.Common'}}</option>
          <option value='adamant' title='{{lookup config.metalData.adamant "effect"}}'>{{localize 'VAGABOND.Metal.Adamant'}}</option>
          <option value='coldIron' title='{{lookup config.metalData.coldIron "effect"}}'>{{localize 'VAGABOND.Metal.ColdIron'}}</option>
          <option value='silver' title='{{lookup config.metalData.silver "effect"}}'>{{localize 'VAGABOND.Metal.Silver'}}</option>
          <option value='mythral' title='{{lookup config.metalData.mythral "effect"}}'>{{localize 'VAGABOND.Metal.Mythral'}}</option>
          <option value='orichalcum' title='{{lookup config.metalData.orichalcum "effect"}}'>{{localize 'VAGABOND.Metal.Orichalcum'}}</option>
        {{/select}}
      </select>
      <div class='metal-effect-text'>{{system.metalEffect}}</div>
    </div>

    {{! Base Cost Section - 3 Column Grid Layout }}
    <div class='form-group'>
      <label class='resource-label'>{{localize 'VAGABOND.Item.Weapon.FIELDS.baseCost.label'}} <small>(before metal multiplier)</small></label>
      <div class='cost-inputs'>
        <div class='cost-field'>
          <label class='resource-label'>Gold</label>
          <input
            type='number'
            name='system.baseCost.gold'
            value='{{system.baseCost.gold}}'
            min='0'
            data-dtype='Number'
          />
        </div>
        <div class='cost-field'>
          <label class='resource-label'>Silver</label>
          <input
            type='number'
            name='system.baseCost.silver'
            value='{{system.baseCost.silver}}'
            min='0'
            data-dtype='Number'
          />
        </div>
        <div class='cost-field'>
          <label class='resource-label'>Copper</label>
          <input
            type='number'
            name='system.baseCost.copper'
            value='{{system.baseCost.copper}}'
            min='0'
            data-dtype='Number'
          />
        </div>
      </div>
    </div>

    {{! Base Slots }}
    <div class='form-group'>
      <label class='resource-label'>{{localize 'VAGABOND.Item.Weapon.FIELDS.baseSlots.label'}} <small>(before metal modifier)</small></label>
      <input
        type='number'
        name='system.baseSlots'
        value='{{system.baseSlots}}'
        min='0'
        data-dtype='Number'
      />
    </div>

    {{! Calculated Properties - Read-only Display }}
    <div class='form-group'>
      <label class='resource-label'>Calculated Properties</label>
      <div class='calculated-properties'>
        <div class='calculated-item'>
          <span class='calc-label'>Final Slots:</span>
          <span class='calc-value'>{{system.slots}}</span>
        </div>
        <div class='calculated-item'>
          <span class='calc-label'>Final Cost:</span>
          <span class='calc-value'>{{system.costDisplay}}</span>
        </div>
      </div>
    </div>
  </div>
</section>
