{{! Inventory Card - Visual slot-based item card }}
<div
  class='inventory-card {{#if equipped}}equipped{{/if}}'
  data-item-id='{{item._id}}'
  data-item-slots='{{item.system.slots}}'
  data-item-type='{{item.type}}'
  data-grid-position='{{gridPosition}}'
  style='grid-column: span {{item.system.slots}};'
  draggable='true'
>
  <div class='inventory-card-content'>
    {{! Top row: Weapon skill icon and item name }}
    <div class='inventory-card-header'>
      {{#if (eq item.type 'equipment')}}
        {{#if (eq item.system.equipmentType 'weapon')}}
          {{! Weapon skill icon with metal color }}
          <div
            class='weapon-skill-icon'
            style='background-color: {{metalColor}};'
          >
            <img src='{{weaponSkillIcon}}' alt='{{item.system.weaponSkill}}' />
          </div>
        {{else if (eq item.system.equipmentType 'armor')}}
          {{! Armor icon }}
          <div class='armor-icon'>
            <i class='fas fa-shield-halved'></i>
          </div>
        {{else}}
          {{! Generic gear icon }}
          <div class='gear-icon'>
            <i class='fas fa-box'></i>
          </div>
        {{/if}}
      {{else if (eq item.type 'weapon')}}
        {{! Legacy weapon support }}
        <div
          class='weapon-skill-icon'
          style='background-color: {{metalColor}};'
        >
          <img src='{{weaponSkillIcon}}' alt='{{item.system.weaponSkill}}' />
        </div>
      {{else if (eq item.type 'armor')}}
        {{! Legacy armor support }}
        <div class='armor-icon'>
          <i class='fas fa-shield-halved'></i>
        </div>
      {{else}}
        {{! Other item types }}
        <div class='gear-icon'>
          <i class='fas fa-box'></i>
        </div>
      {{/if}}

      <div class='item-name-display'>{{item.name}}</div>
    </div>

    {{! Bottom row: Damage, Grip, Range, Cost }}
    <div class='inventory-card-stats'>
      {{#if (or (eq item.type 'equipment') (eq item.type 'weapon'))}}
        {{#if (or (eq item.system.equipmentType 'weapon') (eq item.type 'weapon'))}}
          {{! Damage display with damage type icon }}
          <div class='stat-group damage-group'>
            <span class='stat-label'>{{item.system.currentDamage}}</span>
            {{#if damageTypeIcon}}
              <img class='damage-type-icon' src='{{damageTypeIcon}}' alt='{{item.system.damageType}}' />
            {{/if}}
            {{#if item.system.grip}}
              <span class='stat-value grip-display'>{{item.system.grip}}</span>
            {{/if}}
          </div>

          {{! Range and Cost }}
          <div class='stat-group range-cost-group'>
            {{#if item.system.rangeAbbr}}
              <span class='stat-value range-display'>{{item.system.rangeAbbr}}</span>
            {{/if}}
            <span class='stat-value cost-display'>s{{item.system.costDisplay}}</span>
          </div>
        {{else if (eq item.system.equipmentType 'armor')}}
          {{! Armor stats }}
          <div class='stat-group armor-stats'>
            <span class='stat-label'>Rating {{item.system.finalRating}}</span>
            <span class='stat-value cost-display'>s{{item.system.costDisplay}}</span>
          </div>
        {{else}}
          {{! Generic gear stats }}
          <div class='stat-group gear-stats'>
            {{#if item.system.quantity}}
              <span class='stat-label'>Qty: {{item.system.quantity}}</span>
            {{/if}}
            <span class='stat-value cost-display'>s{{item.system.costDisplay}}</span>
          </div>
        {{/if}}
      {{else}}
        {{! Fallback for other item types }}
        <div class='stat-group generic-stats'>
          <span class='stat-value cost-display'>s{{item.system.costDisplay}}</span>
        </div>
      {{/if}}
    </div>
  </div>

  {{! Equipped indicator (using internal box-shadow) }}
  {{#if equipped}}
    <div class='equipped-indicator'></div>
  {{/if}}
</div>
