{{!-- Custom fields for Vagabond Active Effect Config --}}

<div class="vagabond-effect-config-wrapper">
  <fieldset class="vagabond-effect-fields">
    {{!-- <legend>{{localize "VAGABOND.Effect.ApplicationMode.Label"}}</legend> --}}

    <div class="form-group">
      <label for="application-mode">{{localize "VAGABOND.Effect.ApplicationMode.Label"}}</label>
      <div class="form-fields">
        <select name="flags.vagabond.applicationMode" id="application-mode">
          {{#each vagabond.applicationModes as |mode key|}}
            <option value="{{key}}" {{#if (eq ../vagabond.applicationMode key)}}selected{{/if}}>
              {{localize mode.label}}
            </option>
          {{/each}}
        </select>
      </div>
      <p class="hint application-mode-hint"></p>
    </div>

    {{#if vagabond.parentItemName}}
    <div class="form-group info-box">
      <i class="fas fa-info-circle"></i>
      <p class="notes">
        <strong>{{localize "VAGABOND.UI.Labels.ParentItem"}}</strong> {{vagabond.parentItemName}} ({{vagabond.parentItemType}})<br>
        <strong>{{localize "VAGABOND.UI.Labels.SuggestedMode"}}</strong> {{localize vagabond.smartDefaultMode.label}}
      </p>
    </div>
    {{/if}}

    <div class="form-group help-box">
      <details>
        <summary><i class="fas fa-question-circle"></i> {{localize "VAGABOND.UI.Labels.ApplicationModeGuide"}}</summary>
        <div class="mode-help">
          {{#each vagabond.applicationModes as |mode key|}}
          <div class="mode-example">
            <h4><i class="{{mode.icon}}"></i> {{localize mode.label}}</h4>
            <p>{{localize mode.hint}}</p>
            {{#if (eq key "permanent")}}
            <p class="example"><em>{{localize "VAGABOND.UI.Examples.PermanentEffect"}}</em></p>
            {{else if (eq key "when-equipped")}}
            <p class="example"><em>{{localize "VAGABOND.UI.Examples.EquippedEffect"}}</em></p>
            {{else if (eq key "on-use")}}
            <p class="example"><em>{{localize "VAGABOND.UI.Examples.OnUseEffect"}}</em></p>
            {{/if}}
          </div>
          {{/each}}
        </div>
      </details>
    </div>

    <div class="form-group help-box">
      <details>
        <summary><i class="fas fa-code"></i> {{localize "VAGABOND.Effect.FormulaHelp.Summary"}}</summary>
        <div class="mode-help">
          <div class="mode-example">
            <h4><i class="fas fa-calculator"></i> {{localize "VAGABOND.Effect.FormulaHelp.UsingFormulasTitle"}}</h4>
            <p>{{{localize "VAGABOND.Effect.FormulaHelp.UsingFormulasIntro"}}}</p>
            <p class="example"><em>{{localize "VAGABOND.Effect.FormulaHelp.ExamplesLabel"}}</em></p>
            <ul style="margin: 0.5rem 0; padding-left: 1.5rem;">
              <li>{{{localize "VAGABOND.Effect.FormulaHelp.ExSimpleNumber"}}}</li>
              <li>{{{localize "VAGABOND.Effect.FormulaHelp.ExCharacterLevel"}}}</li>
              <li>{{{localize "VAGABOND.Effect.FormulaHelp.ExHalfLevel"}}}</li>
              <li>{{{localize "VAGABOND.Effect.FormulaHelp.ExMightTotal"}}}</li>
              <li>{{{localize "VAGABOND.Effect.FormulaHelp.ExSumTwoStats"}}}</li>
            </ul>
          </div>
          <div class="mode-example">
            <h4><i class="fas fa-star"></i> {{localize "VAGABOND.Effect.FormulaHelp.CommonScalingTitle"}}</h4>
            <p class="example">{{{localize "VAGABOND.Effect.FormulaHelp.SecretOfManaLabel"}}}</p>
            <ul style="margin: 0.25rem 0; padding-left: 1.5rem; font-size: 0.9em;">
              <li>{{{localize "VAGABOND.Effect.FormulaHelp.AttributeKeyLine" key="system.mana.castingMaxBonus"}}}</li>
              <li>{{{localize "VAGABOND.Effect.FormulaHelp.EffectValueLine" value="@attributes.level.value"}}}</li>
            </ul>
            <p class="example" style="margin-top: 0.75rem;">{{{localize "VAGABOND.Effect.FormulaHelp.ToughLabel"}}}</p>
            <ul style="margin: 0.25rem 0; padding-left: 1.5rem; font-size: 0.9em;">
              <li>{{{localize "VAGABOND.Effect.FormulaHelp.AttributeKeyLine" key="system.bonuses.hpPerLevel"}}}</li>
              <li>{{{localize "VAGABOND.Effect.FormulaHelp.EffectValueLine" value="1"}}}</li>
            </ul>
            <p class="example" style="margin-top: 0.75rem;">{{{localize "VAGABOND.Effect.FormulaHelp.ScalingArmorLabel"}}}</p>
            <ul style="margin: 0.25rem 0; padding-left: 1.5rem; font-size: 0.9em;">
              <li>{{{localize "VAGABOND.Effect.FormulaHelp.AttributeKeyLine" key="system.armorBonus"}}}</li>
              <li>{{{localize "VAGABOND.Effect.FormulaHelp.EffectValueLine" value="@stats.dexterity.total"}}}</li>
            </ul>
          </div>
          <div class="mode-example">
            <h4><i class="fas fa-function"></i> {{localize "VAGABOND.Effect.FormulaHelp.AvailableVariablesTitle"}}</h4>
            <p>{{{localize "VAGABOND.Effect.FormulaHelp.AvailableVariablesIntro"}}}</p>
            <ul style="margin: 0.5rem 0; padding-left: 1.5rem;">
              <li>{{{localize "VAGABOND.Effect.FormulaHelp.VarAttributes"}}}</li>
              <li>{{{localize "VAGABOND.Effect.FormulaHelp.VarStats"}}}</li>
              <li>{{{localize "VAGABOND.Effect.FormulaHelp.VarSkills"}}}</li>
              <li>{{{localize "VAGABOND.Effect.FormulaHelp.VarMath"}}}</li>
            </ul>
          </div>
        </div>
      </details>
    </div>

  </fieldset>
</div>
