{{!-- Custom fields for Vagabond Active Effect Config --}}

<div class="vagabond-effect-config-wrapper">
  <fieldset class="vagabond-effect-fields">
    {{!-- <legend>{{localize "VAGABOND.Effect.ApplicationMode.Label"}}</legend> --}}

    <div class="form-group">
      <label for="application-mode">{{localize "VAGABOND.Effect.ApplicationMode.Label"}}</label>
      <div class="form-fields">
        <select name="flags.vagabond.applicationMode" id="application-mode">
          {{#each vagabond.applicationModes as |mode key|}}
            <option value="{{key}}" {{#if (eq ../vagabond.applicationMode key)}}selected{{/if}}>
              {{localize mode.label}}
            </option>
          {{/each}}
        </select>
      </div>
      <p class="hint application-mode-hint"></p>
    </div>

    {{#if vagabond.parentItemName}}
    <div class="form-group info-box">
      <i class="fas fa-info-circle"></i>
      <p class="notes">
        <strong>Parent Item:</strong> {{vagabond.parentItemName}} ({{vagabond.parentItemType}})<br>
        <strong>Suggested Mode:</strong> {{localize vagabond.smartDefaultMode.label}}
      </p>
    </div>
    {{/if}}

    <div class="form-group help-box">
      <details>
        <summary><i class="fas fa-question-circle"></i> Application Mode Guide</summary>
        <div class="mode-help">
          {{#each vagabond.applicationModes as |mode key|}}
          <div class="mode-example">
            <h4><i class="{{mode.icon}}"></i> {{localize mode.label}}</h4>
            <p>{{localize mode.hint}}</p>
            {{#if (eq key "permanent")}}
            <p class="example"><em>Example: Perk that gives +2 Might to all rolls</em></p>
            {{else if (eq key "when-equipped")}}
            <p class="example"><em>Example: Armor that gives +1 AC while worn</em></p>
            {{else if (eq key "on-use")}}
            <p class="example"><em>Example: Keen Dagger (crits on 19-20, but only with dagger attacks)</em></p>
            {{/if}}
          </div>
          {{/each}}
        </div>
      </details>
    </div>

  </fieldset>
</div>
