{{! Features Tab }}
<section
  class='tab features scrollable {{tab.cssClass}}'
  data-group='primary'
  data-tab='features'
>

  {{! Inventory Section }}
  <section class='inventory-section'>

    <div class='inventory-header-container'>
      <h4 class='section-title-with-add'>
        {{localize "VAGABOND.UI.Sections.Inventory"}}
      </h4>

      {{! Bounds Counter }}
      <div class='bounds-counter-section'>
        <div class='bounds-info flexrow'>
          <label class='resource-label'>{{localize "VAGABOND.UI.Labels.Bounds"}}</label>
          <div class='bounds-pips'>
            {{#each boundsPips as |pip|}}
              <i class='fa-solid fa-diamond bound-pip {{#if pip.filled}}filled{{else}}empty{{/if}}'></i>
            {{/each}}
          </div>
        </div>
      </div>

      {{! Inventory Slots Section }}
      <div class='inventory-slots-section'>
        <div class='slots-info flexrow'>
          <div class='slot-field {{#if (gt system.inventory.occupiedSlots system.inventory.maxSlots)}}overloaded{{/if}}'>
            <label class='resource-label'>{{localize "VAGABOND.Item.Weapon.FIELDS.slots.label"}}:</label>
            <span class='slot-value'>
              {{system.inventory.occupiedSlots}} / {{system.inventory.maxSlots}}
              {{!-- {{#if (gt system.inventory.fatigueSlots 0)}}
                <span class='fatigue-note'>[{{system.inventory.baseMaxSlots}} - {{system.inventory.fatigueSlots}} Fatigue]</span>
              {{/if}} --}}
            </span>
          </div>
          {{!-- {{#if (gt system.inventory.occupiedSlots system.inventory.maxSlots)}}
            <div class='slot-warning'>
              <i class='fas fa-exclamation-triangle'></i>
              <span>{{localize "VAGABOND.UI.Labels.Overloaded"}}</span>
            </div>
          {{/if}} --}}
        </div>
      </div>
    </div>
    {{! Visual Inventory Grid - DYNAMIC rows × 4 columns }}
    <div class='inventory-grid-container'>
      <div class='inventory-grid'
           data-max-slots='{{system.inventory.maxSlots}}'
           data-grid-size='{{gridSize}}'
           style='grid-template-rows: repeat({{gridRows}}, 50px);'>

        {{! Render inventory items }}
        {{#each inventoryItems as |itemData|}}
          {{> "systems/vagabond/templates/actor/parts/inventory-card.hbs"
              item=itemData.item
              equipped=itemData.equipped
              gridPosition=itemData.gridPosition
              displayNumber=itemData.displayNumber
              isSlotZero=itemData.isSlotZero
              quantity=itemData.quantity
              totalSlots=itemData.totalSlots
              metalColor=itemData.metalColor
              weaponSkillIcon=itemData.weaponSkillIcon
              damageTypeIcon=itemData.damageTypeIcon
              requiresBound=itemData.requiresBound
              bound=itemData.bound}}
        {{/each}}

        {{! Render empty slots (to complete grid) }}
        {{#each emptySlots as |slot|}}
          <div class='inventory-slot empty-slot {{#if slot.unavailable}}unavailable{{/if}} {{#if slot.fatigueOccupied}}fatigue-occupied{{/if}}'
               data-slot-index='{{slot.index}}'
               data-droppable='true'>
            {{#if slot.displayNumber}}
              <div class='slot-number'>{{slot.displayNumber}}</div>
            {{/if}}
            {{#if slot.fatigueOccupied}}
              <div class='fatigue-slot-overlay'>
                <i class='fas fa-skull'></i>
              </div>
            {{/if}}
          </div>
        {{/each}}
      </div>

      {{! Overload Warning }}
      {{#if isOverloaded}}
        <div class='inventory-overload-warning'>
          <i class='fas fa-exclamation-triangle'></i>
          <span>Your Inventory is full, you can't take the Rush action. (+{{overloadAmount}} slots beyond capacity)</span>
        </div>
      {{/if}}
    </div>

    {{! Wealth Section }}
    <div class='wealth-section'>
      <div class='currency-row flexrow'>
        <div class='wealth-title'>{{localize "VAGABOND.UI.Sections.Wealth"}}:</div>
        <div class='currency-field'>
          <label class='resource-label gold-label'>{{localize "VAGABOND.Currency.Gold.long"}}</label>
          <input
            type='text'
            name='system.currency.gold'
            value='{{system.currency.gold}}'
            data-dtype='Number'
            {{#unless @root.editable}}disabled{{/unless}}
          />
        </div>
        <div class='currency-field'>
          <label class='resource-label silver-label'>{{localize "VAGABOND.Currency.Silver.long"}}</label>
          <input
            type='text'
            name='system.currency.silver'
            value='{{system.currency.silver}}'
            data-dtype='Number'
            {{#unless @root.editable}}disabled{{/unless}}
          />
        </div>
        <div class='currency-field'>
          <label class='resource-label copper-label'>{{localize "VAGABOND.Currency.Copper.long"}}</label>
          <input
            type='text'
            name='system.currency.copper'
            value='{{system.currency.copper}}'
            data-dtype='Number'
            {{#unless @root.editable}}disabled{{/unless}}
          />
        </div>
      </div>
    </div>
  </section>
  
  {{! Features & Perks Section }}
  <section class='features-perks-section'>
    {{!-- <h3 class='panel-title'>Features & Perks</h3> --}}

    <div class='grid grid-2col'>
      {{! Left Column: Features }}
      <div class='features-column grid-span-1'>
        <h4 class="left-col">{{localize "VAGABOND.UI.Sections.Features"}}</h4>
        <ul class='features-list'>
          {{#each enrichedFeatures as |feature id|}}
            <li class='feature accordion-item collapsed' data-feature-level='{{feature.level}}' data-feature-index='{{feature.index}}' data-source-type='class' data-accordion-id='feature-{{feature.index}}'>
              <div class='feature-header accordion-header clickable' data-action='toggleFeature' data-feature-id='{{feature._id}}'>
                <h5 class='feature-name'>{{feature.name}}</h5>
              </div>
              {{#if feature.enrichedDescription}}
                <div class='feature-description accordion-content' data-feature-id='{{feature._id}}'>{{{feature.enrichedDescription}}}</div>
              {{/if}}
            </li>
          {{else}}
            <li class='no-features'>{{localize 'VAGABOND.UI.Sections.featuresPlaceholder'}}</li>
          {{/each}}
        </ul>
      </div>

      {{! Right Column: Traits & Perks }}
      <div class='perks-column grid-span-1'>
        {{! Traits Section }}
        <h4>{{localize "VAGABOND.UI.Sections.Traits"}}</h4>
        <ul class='traits-list'>
          {{#each enrichedTraits as |trait|}}
            <li class='trait accordion-item collapsed' data-trait-index='{{trait.index}}' data-source-type='ancestry' data-accordion-id='trait-{{trait.index}}'>
              <div class='trait-header accordion-header clickable' data-action='toggleTrait' data-trait-id='{{trait._id}}'>
                <h5 class='trait-name'>{{trait.name}}</h5>
              </div>
              {{#if trait.enrichedDescription}}
                <div class='trait-description accordion-content' data-trait-id='{{trait._id}}'>{{{trait.enrichedDescription}}}</div>
              {{/if}}
            </li>
          {{else}}
            <li class='no-traits'>{{localize 'VAGABOND.UI.Sections.traitsPlaceholder'}}</li>
          {{/each}}
        </ul>

        {{! Perks Section }}
        <h4>{{localize "VAGABOND.UI.Sections.Perks"}}</h4>
        <ul class='perks-list'>
          {{#each enrichedPerks as |perk|}}
            <li class='perk-card accordion-item collapsed' data-item-id='{{perk._id}}' data-accordion-id='perk-{{perk._id}}'>
              <div class='perk-header accordion-header clickable' data-action='togglePerk' data-perk-id='{{perk._id}}'>
                <h5 class='perk-name'>{{perk.name}}</h5>
              </div>
              <div class='perk-content accordion-content' data-perk-id='{{perk._id}}'>
                {{#if perk.prerequisites}}
                  <div class='perk-prerequisites'>{{perk.prerequisites}}</div>
                {{/if}}
                {{#if perk.enrichedDescription}}
                  <div class='perk-description'>{{{perk.enrichedDescription}}}</div>
                {{/if}}
              </div>
            </li>
          {{else}}
            <li class='no-perks'>{{localize 'VAGABOND.UI.Sections.perksPlaceholder'}}</li>
          {{/each}}
        </ul>
      </div>
    </div>
  </section>

</section>
