{{! Features Tab }}
<section
  class='tab features scrollable {{tab.cssClass}}'
  data-group='primary'
  data-tab='features'
>
  {{! Features & Perks Section }}
  <section class='panel-section features-perks-section'>
    <h2 class='panel-title'>Features & Perks</h2>

    <div class='grid grid-2col'>
      {{! Left Column: Features }}
      <div class='features-column grid-span-1'>
        <h3>Features</h3>
        <ul class='features-list'>
          {{#each features as |feature id|}}
            <li class='feature accordion-item collapsed' data-item-id='{{feature._id}}'>
              <div class='feature-header accordion-header clickable' data-action='toggleFeature' data-feature-id='{{feature._id}}'>
                <h4 class='feature-name'>{{feature.name}}</h4>
              </div>
              {{#if feature.description}}
                <div class='feature-description accordion-content' data-feature-id='{{feature._id}}'>{{{feature.description}}}</div>
              {{/if}}
            </li>
          {{else}}
            <li class='no-features'>No features yet. Features are granted by your class as you level up.</li>
          {{/each}}
        </ul>
      </div>

      {{! Right Column: Perks }}
      <div class='perks-column grid-span-1'>
        <h3>Perks</h3>
        <ul class='perks-list'>
          {{#each enrichedPerks as |perk|}}
            <li class='perk-card accordion-item collapsed' data-item-id='{{perk._id}}'>
              <div class='perk-header accordion-header clickable' data-action='togglePerk' data-perk-id='{{perk._id}}'>
                <h4 class='perk-name'>{{perk.name}}</h4>
              </div>
              <div class='perk-content accordion-content' data-perk-id='{{perk._id}}'>
                {{#if perk.prerequisites}}
                  <div class='perk-prerequisites'>{{perk.prerequisites}}</div>
                {{/if}}
                {{#if perk.enrichedDescription}}
                  <div class='perk-description'>{{{perk.enrichedDescription}}}</div>
                {{/if}}
              </div>
            </li>
          {{else}}
            <li class='no-perks'>No perks yet. Drag perks from the Items directory.</li>
          {{/each}}
        </ul>
      </div>
    </div>
  </section>

  {{! Magic Section }}
  <section class='panel-section magic-section'>
    <h2 class='panel-title'>Magic</h2>

    {{! Mana Info Row }}
    <div class='mana-info-row'>
      <div class='mana-field'>
        <label class='resource-label'>Current Mana</label>
        <input
          type='text'
          name='system.mana.current'
          value='{{system.mana.current}}'
          data-dtype='Number'
          {{#unless @root.editable}}disabled{{/unless}}
        />
      </div>
      <div class='mana-field'>
        <label class='resource-label'>Max Mana</label>
        <span class='mana-value'>{{system.mana.max}}</span>
      </div>
      <div class='mana-field'>
        <label class='resource-label'>Casting Max</label>
        <span class='mana-value'>{{system.mana.castingMax}}</span>
      </div>
    </div>

    {{! Spells List }}
    <h3 class='section-title section-title-with-add'>
      Spells
      {{#if @root.editable}}
        <i
          class='fas fa-plus clickable'
          data-tooltip='Create New Spell'
          data-action='createDoc'
          data-document-class='Item'
          data-type='spell'
        ></i>
      {{/if}}
    </h3>
    <ol class='items-list'>
      <li class='item flexrow items-header'>
        <div class='item-name spell-col-name'>Name</div>
        <div class='item-damage spell-col-damage'>Damage</div>
        <div class='spell-col-favorite' data-tooltip='Favorite'>F</div>
      </li>
      {{#each spells as |spell|}}
        <li
          class='item flexrow draggable spell-item-row'
          data-item-id='{{spell._id}}'
          data-document-class='Item'
        >
          <div class='item-name spell-col-name'>
            <div class='item-image clickable' data-action='viewDoc'>
              <img
                src='{{spell.img}}'
                data-tooltip='{{spell.name}}'
                width='24'
                height='24'
              />
            </div>
            <div data-action='viewDoc'>{{spell.name}}</div>
          </div>
          <div class='item-damage item-prop spell-col-damage'>
            {{#unless (eq spell.system.damageType '-')}}
              {{localize (lookup @root.config.damageTypes spell.system.damageType)}}
            {{else}}
              —
            {{/unless}}
          </div>
          <div class='spell-col-favorite' data-action='toggleSpellFavorite' data-item-id='{{spell._id}}'>
            {{#if spell.system.favorite}}
              <i class='clickable fas fa-star favorite-active' data-tooltip='Favorite (click to unfavorite)'></i>
            {{else}}
              <i class='clickable far fa-star favorite-inactive' data-tooltip='Not Favorite (click to favorite)'></i>
            {{/if}}
          </div>
        </li>
      {{else}}
        <li class='no-spells'>
          No spells yet. {{#if @root.editable}}Click the + button above to add a spell.{{/if}}
        </li>
      {{/each}}
    </ol>
  </section>

  {{! Inventory Section }}
  <section class='panel-section inventory-section'>
    <h2 class='panel-title'>Inventory</h2>

  {{! Wealth Section }}
  <div class='wealth-section'>
    {{!-- <h3 class='section-title'>Wealth</h3> --}}
    <div class='currency-row flexrow'>
      <h3 class='section-title'>Wealth:</h3>
      <div class='currency-field'>
        <label class='resource-label'>Gold</label>
        <input
          type='text'
          name='system.currency.gold'
          value='{{system.currency.gold}}'
          data-dtype='Number'
          {{#unless @root.editable}}disabled{{/unless}}
        />
      </div>
      <div class='currency-field'>
        <label class='resource-label'>Silver</label>
        <input
          type='text'
          name='system.currency.silver'
          value='{{system.currency.silver}}'
          data-dtype='Number'
          {{#unless @root.editable}}disabled{{/unless}}
        />
      </div>
      <div class='currency-field'>
        <label class='resource-label'>Copper</label>
        <input
          type='text'
          name='system.currency.copper'
          value='{{system.currency.copper}}'
          data-dtype='Number'
          {{#unless @root.editable}}disabled{{/unless}}
        />
      </div>
    </div>
  </div>

    {{! Inventory Slots Section }}
    <div class='inventory-slots-section'>
      <div class='slots-info flexrow'>
        <div class='slot-field'>
          <label class='resource-label'>Max Slots:</label>
          <span class='slot-value'>{{system.inventory.maxSlots}}</span>
        </div>
        <div class='slot-field'>
          <label class='resource-label'>Occupied:</label>
          <span class='slot-value'>{{system.inventory.occupiedSlots}}</span>
        </div>
        <div class='slot-field'>
          <label class='resource-label'>Available:</label>
          <span class='slot-value'>{{system.inventory.availableSlots}}</span>
        </div>
      </div>
    </div>

  </section>
</section>
