{{! Features Tab }}
<section
  class='tab features scrollable {{tab.cssClass}}'
  data-group='primary'
  data-tab='features'
>
  <section class='grid grid-3col'>
    {{! Left column: Stats }}
    <aside class='sidebar'>
      <h3>Stats</h3>
      <div class='abilities flexcol'>
        {{#each system.abilities as |ability key|}}
          <div class='ability flexrow flex-group-center'>
            <label
              class='resource-label rollable flexlarge align-left'
              data-action='roll'
              data-roll='d20'
              data-label='{{localize (lookup @root.config.abilities key)}} Check'
            >{{localize (lookup @root.config.abilities key)}}</label>
            <input
              type='text'
              name='system.abilities.{{key}}.value'
              value='{{ability.value}}'
              class="ability-score"
              data-dtype='Number'
            />
          </div>
        {{/each}}
      </div>

      {{! Features Section }}
      <h3 class='features-section-title'>Features</h3>
      <ul class='features-list'>
        {{#each features as |feature id|}}
          <li class='feature accordion-item' data-item-id='{{feature._id}}'>
            <div class='feature-header accordion-header clickable' data-action='toggleFeature' data-feature-id='{{feature._id}}'>
              <h4 class='feature-name'>{{feature.name}}</h4>
              <i class='fas fa-chevron-down accordion-icon'></i>
            </div>
            {{#if feature.description}}
              <div class='feature-description accordion-content' data-feature-id='{{feature._id}}'>{{{feature.description}}}</div>
            {{/if}}
          </li>
        {{else}}
          <li class='no-features'>No features yet. Features are granted by your class as you level up.</li>
        {{/each}}
      </ul>
    </aside>

    {{! Middle column: Saves and Skills }}
    <section class='main grid-span-1'>
      {{! Saves Section - Horizontal layout with border }}
      <div class='saves'>
        <h3>SAVES</h3>
        <div class='saves-row flexrow'>
          {{#each system.saves as |save key|}}
            <div class='save flexcol align-center'>
              <label
                class='resource-label rollable'
                data-action='roll'
                data-roll='d20'
                data-label='{{save.label}} Save (Difficulty {{save.difficulty}})'
                data-tooltip='{{save.description}}'
              >{{save.label}}</label>
              <span class='save-difficulty'>[{{save.difficulty}}]</span>
            </div>
          {{/each}}
        </div>
      </div>

      {{! Skills Section }}
      <div class='skills flexcol'>
        <h3>Skills</h3>
        {{#each system.skills as |skill key|}}
          <div class='skill flexrow flex-group-center'>
            <input
              type='checkbox'
              name='system.skills.{{key}}.trained'
              {{#if skill.trained}}checked{{/if}}
            />
            <label
              class='resource-label rollable flexlarge align-left'
              data-action='roll'
              data-roll='d20'
              data-label='{{skill.label}} (Difficulty {{skill.difficulty}})'
            >{{skill.label}} {{#if skill.trained}}(Trained){{/if}}</label>
            <span class='skill-difficulty'>{{skill.difficulty}}</span>
          </div>
        {{/each}}
      </div>
    </section>

    {{! Right column: Attacks and Perks }}
    <section class='attacks-section grid-span-1'>
      {{! Weapon Skills / Attacks Section }}
      <div class='weapon-skills flexcol'>
        <h3>Attacks</h3>
        {{#each system.weaponSkills as |weaponSkill key|}}
          <div class='weapon-skill flexrow flex-group-center'>
            <input
              type='checkbox'
              name='system.weaponSkills.{{key}}.trained'
              {{#if weaponSkill.trained}}checked{{/if}}
            />
            <label
              class='resource-label rollable flexlarge align-left'
              data-action='roll'
              data-roll='d20'
              data-label='{{weaponSkill.label}} (Difficulty {{weaponSkill.difficulty}})'
            >{{weaponSkill.label}} {{#if weaponSkill.trained}}(Trained){{/if}}</label>
            <span class='weapon-skill-difficulty'>{{weaponSkill.difficulty}}</span>
          </div>
        {{/each}}

        {{! Equipped Weapons }}
        {{#each weapons as |weapon|}}
          {{#if weapon.system.equipped}}
            <div class='equipped-weapon flexrow flex-group-center'>
              <label
                class='resource-label rollable flexlarge align-left'
                data-action='rollWeapon'
                data-item-id='{{weapon._id}}'
                title='{{weapon.system.propertiesDisplay}}'
              >{{weapon.name}} ({{weapon.system.currentDamage}})</label>
              <span class='weapon-info'>
                {{weapon.system.rangeDisplay}}
                {{#if (eq weapon.system.equipmentState 'oneHand')}}
                  <i class='fas fa-hand-fist' title='One-Handed'></i>
                {{else if (eq weapon.system.equipmentState 'twoHands')}}
                  <i class='fas fa-hands' title='Two-Handed'></i>
                {{/if}}
              </span>
            </div>
          {{/if}}
        {{/each}}
      </div>

      {{! Perks Section }}
      <div class='perks-section flexcol'>
        <h3>Perks</h3>
        <ul class='perks-list'>
          {{#each enrichedPerks as |perk|}}
            <li class='perk-card accordion-item' data-item-id='{{perk._id}}'>
              <div class='perk-header accordion-header clickable' data-action='togglePerk' data-perk-id='{{perk._id}}'>
                <h4 class='perk-name'>{{perk.name}}</h4>
                <i class='fas fa-chevron-down accordion-icon'></i>
              </div>
              <div class='perk-content accordion-content' data-perk-id='{{perk._id}}'>
                {{#if perk.prerequisites}}
                  <div class='perk-prerequisites'>{{perk.prerequisites}}</div>
                {{/if}}
                {{#if perk.enrichedDescription}}
                  <div class='perk-description'>{{{perk.enrichedDescription}}}</div>
                {{/if}}
              </div>
            </li>
          {{else}}
            <li class='no-perks'>No perks yet. Drag perks from the Items directory.</li>
          {{/each}}
        </ul>
      </div>
    </section>
  </section>
</section>
