{{! Sheet Header }}
<header class='sheet-header'>
  <img
    class='profile-img'
    src='{{actor.img}}'
    data-edit='img'
    data-action='onEditImage'
    data-tooltip='{{actor.name}}'
    height='100'
    width='100'
  />
  <div class='header-fields'>
    {{! Top row: Name and Ancestry }}
    <div class='grid grid-1col' style='margin-bottom: 10px;'>
      <div class='resource'>
        <label class='resource-label'>Name</label>
        <input
          name='name'
          type='text'
          value='{{actor.name}}'
          placeholder='Character Name'
        />
      </div>
      {{! Ancestry line - clickable if ancestry exists }}
      {{#if system.ancestryData}}
        <div class='resource ancestry-display' 
             data-action='viewAncestry'
             data-tooltip='Click to view {{system.ancestryData.name}} ancestry'
             style='cursor: pointer; padding: 5px; border: 1px solid #ccc; background: #f9f9f9; border-radius: 3px;'>
          {{system.ancestryDisplay.name}}, {{system.ancestryDisplay.sizeLabel}} size, {{system.ancestryDisplay.beingTypeLabel}} being
        </div>
      {{/if}}
    </div>

    {{! Second row: Level, Class, XP }}
    <div class='grid grid-3col' style='margin-bottom: 10px;'>
      <div class='resource'>
        <label class='resource-label'>{{localize 'VAGABOND.Actor.Character.FIELDS.attributes.level.value.label'}}</label>
        <input
          type='text'
          name='system.attributes.level.value'
          value='{{system.attributes.level.value}}'
          data-dtype='Number'
        />
      </div>
      <div class='resource'>
        <label class='resource-label'>Class</label>
        <input
          type='text'
          placeholder='(from item)'
          disabled='true'
          style='background: #f0f0f0;'
        />
      </div>
      <div class='resource'>
        <label class='resource-label'>{{localize 'VAGABOND.Actor.Character.FIELDS.attributes.xp.label'}}</label>
        <input
          type='text'
          name='system.attributes.xp'
          value='{{system.attributes.xp}}'
          data-dtype='Number'
        />
      </div>
    </div>

    {{! Third row: Combat Stats }}
    <div class='grid grid-5col'>
      {{! Hit Points }}
      <div class='resource'>
        <label class='resource-label'>Hit Points</label>
        <div class='resource-content flexrow flex-center flex-between'>
          <input
            type='text'
            name='system.health.value'
            value='{{system.health.value}}'
            data-dtype='Number'
            style='width: 40px;'
          />
          <span> / </span>
          <span>{{system.health.max}}</span>
        </div>
      </div>

      {{! Armor }}
      <div class='resource'>
        <label class='resource-label'>Armor</label>
        <span>{{system.armor}}</span>
      </div>

      {{! Fatigue }}
      <div class='resource'>
        <label class='resource-label'>Fatigue</label>
        <input
          type='text'
          name='system.fatigue'
          value='{{system.fatigue}}'
          data-dtype='Number'
          style='width: 40px;'
        />
      </div>

      {{! Speed - show all three values }}
      <div class='resource'>
        <label class='resource-label'>Speed</label>
        <div style='font-size: 10px;'>
          <div>{{system.speed.base}}'</div>
          <div>Crawl: {{system.speed.crawl}}'</div>
          <div>Travel: {{system.speed.travel}}mi</div>
        </div>
      </div>

      {{! Current Luck }}
      <div class='resource'>
        <label class='resource-label'>Current Luck</label>
        <span>{{system.currentLuck}}</span>
      </div>
    </div>
  </div>
</header>
