{{! Sheet Header }}
<header class='sheet-header'>
  {{! Character Image Container }}
  <div class='char-image-container'>
    <img
      class='profile-img'
      src='{{actor.img}}'
      data-edit='img'
      data-action='onEditImage'
      data-tooltip='{{actor.name}}'
      width='180'
      height='180'
    />

    {{! Armor Info Overlay (Left side) }}
    <div class='armor-overlay'>
      <div class='armor-value'>{{system.armor}}</div>
      <div class='armor-type'>{{equippedArmorType}}</div>
    </div>

    {{! Fatigue Overlay (Bottom) }}
    <div class='fatigue-overlay'>
      <div class='fatigue-checkboxes'>
        {{#each fatigueBoxes as |box index|}}
          <i
            class='fas fa-skull fatigue-skull {{#if box.checked}}fatigue-active{{else}}fatigue-inactive{{/if}}'
            data-index='{{index}}'
            data-tooltip='Fatigue Level {{add index 1}}'
          ></i>
        {{/each}}
      </div>
      <i class='fas fa-skull fatigue-icon' data-tooltip='Fatigue'></i>
    </div>
  </div>

  {{! Hit Points (Below image) }}
  <div class='hp-display'>
    <input
      type='text'
      name='system.health.value'
      value='{{system.health.value}}'
      data-dtype='Number'
      class='hp-current'
    />
    <span class='hp-separator'>/</span>
    <span class='hp-max'>{{system.health.max}}</span>
    <i class='fas fa-heart hp-icon'></i>
  </div>

  <div class='header-fields'>
    {{! Name Row with XP and Level Up }}
    <div class='flex-center-gap-12 mb-8'>
      {{! Character Name - Centered }}
      <div class='flex-1 text-center'>
        <input
          name='name'
          type='text'
          value='{{actor.name}}'
          placeholder='Character Name'
          class='character-name-input'
        />
      </div>

      {{! XP Field with inline label }}
      <div class='flex-center-gap-4 nowrap'>
        <label class='resource-label'>{{localize 'VAGABOND.Actor.Character.FIELDS.attributes.xp.label'}}</label>
        <input
          type='text'
          name='system.attributes.xp'
          value='{{system.attributes.xp}}'
          data-dtype='Number'
          class='w-60'
        />
      </div>

      {{! Level Up Button }}
      {{#if (lt system.attributes.level.value 10)}}
        <button
          type='button'
          data-action='levelUp'
          data-tooltip='Level Up'
          class='btn-sm'
        >
          <i class='fas fa-level-up-alt'></i>
        </button>
      {{/if}}
    </div>

    {{! Character Info Row - Level, Ancestry, Class as display divs }}
    <div class='character-info-row'>
      <span>
        Level {{system.attributes.level.value}},
        {{#if system.ancestryData}}
          <span class='ancestry-name clickable-link' data-item-id='{{system.ancestryData.id}}' data-action='viewAncestry' data-tooltip='Click to view, Right-click to remove'>{{system.ancestryData.name}}</span>
        {{else}}
          <span class='text-faint'>Unknown Ancestry</span>
        {{/if}}
        {{#if system.classData}}
          <span class='class-name clickable-link' data-item-id='{{system.classData.id}}' data-action='viewClass' data-tooltip='Click to view, Right-click to remove'>{{system.classData.name}}</span>
        {{else}}
          <span class='text-faint'>No Class</span>
        {{/if}}
        {{#if system.ancestryData}}
          ({{system.ancestryData.beingType}}, {{system.ancestryData.size}} size)
        {{else}}
          (Unknown, Medium size)
        {{/if}}
      </span>
    </div>

    {{! Third row: Combat Stats }}
    <div class='grid grid-3col'>
      {{! Speed - show all three values }}
      <div class='resource'>
        <label class='resource-label'>Speed</label>
        <div class='text-xs'>
          <div>{{system.speed.base}}'</div>
          <div>Crawl: {{system.speed.crawl}}'</div>
          <div>Travel: {{system.speed.travel}}mi</div>
        </div>
      </div>

      {{! Current Luck Row }}
      <div class='resource'>
         <label class='resource-label'>Current Luck</label>
         <span>{{system.currentLuck}}</span>
      </div>

    </div>
  </div>
</header>
