{{! Sheet Header }}
<header class='sheet-header'>
  <img
    class='profile-img'
    src='{{actor.img}}'
    data-edit='img'
    data-action='onEditImage'
    data-tooltip='{{actor.name}}'
    height='100'
    width='100'
  />
  <div class='header-fields'>
    {{! Name Row with XP and Level Up }}
    <div class='flex-center-gap-12 mb-8'>
      {{! Character Name - Centered }}
      <div class='flex-1 text-center'>
        <input
          name='name'
          type='text'
          value='{{actor.name}}'
          placeholder='Character Name'
          class='character-name-input'
        />
      </div>

      {{! XP Field with inline label }}
      <div class='flex-center-gap-4 nowrap'>
        <label class='resource-label'>{{localize 'VAGABOND.Actor.Character.FIELDS.attributes.xp.label'}}</label>
        <input
          type='text'
          name='system.attributes.xp'
          value='{{system.attributes.xp}}'
          data-dtype='Number'
          class='w-60'
        />
      </div>

      {{! Level Up Button }}
      {{#if (lt system.attributes.level.value 10)}}
        <button
          type='button'
          data-action='levelUp'
          data-tooltip='Level Up'
          class='btn-sm'
        >
          <i class='fas fa-level-up-alt'></i> Level Up
        </button>
      {{/if}}
    </div>

    {{! Character Info Row - Level, Ancestry, Class as display divs }}
    <div class='character-info-row'>
      <span>
        Level {{system.attributes.level.value}},
        {{#if system.ancestryData}}
          <span class='ancestry-name clickable-link' data-item-id='{{system.ancestryData.id}}' data-action='viewAncestry' data-tooltip='Click to view, Right-click to remove'>{{system.ancestryData.name}}</span>
        {{else}}
          <span class='text-faint'>Unknown Ancestry</span>
        {{/if}}
        {{#if system.classData}}
          <span class='class-name clickable-link' data-item-id='{{system.classData.id}}' data-action='viewClass' data-tooltip='Click to view, Right-click to remove'>{{system.classData.name}}</span>
        {{else}}
          <span class='text-faint'>No Class</span>
        {{/if}}
        {{#if system.ancestryData}}
          ({{system.ancestryData.beingType}}, {{system.ancestryData.size}} size)
        {{else}}
          (Unknown, Medium size)
        {{/if}}
      </span>
    </div>

    {{! Current Luck Row }}
    <div class='grid grid-1col mb-10'>
      <div class='resource'>
        <label class='resource-label'>Current Luck</label>
        <span>{{system.currentLuck}}</span>
      </div>
    </div>

    {{! Third row: Combat Stats }}
    <div class='grid grid-5col'>
      {{! Hit Points }}
      <div class='resource'>
        <label class='resource-label'>Hit Points</label>
        <div class='resource-content flexrow flex-center flex-between'>
          <input
            type='text'
            name='system.health.value'
            value='{{system.health.value}}'
            data-dtype='Number'
            class='w-40'
          />
          <span> / </span>
          <span>{{system.health.max}}</span>
        </div>
      </div>

      {{! Armor }}
      <div class='resource'>
        <label class='resource-label'>Armor</label>
        <span>{{system.armor}}</span>
      </div>

      {{! Fatigue }}
      <div class='resource'>
        <label class='resource-label'>Fatigue</label>
        <input
          type='text'
          name='system.fatigue'
          value='{{system.fatigue}}'
          data-dtype='Number'
          class='w-40'
        />
      </div>

      {{! Speed - show all three values }}
      <div class='resource'>
        <label class='resource-label'>Speed</label>
        <div class='text-xs'>
          <div>{{system.speed.base}}'</div>
          <div>Crawl: {{system.speed.crawl}}'</div>
          <div>Travel: {{system.speed.travel}}mi</div>
        </div>
      </div>
    </div>
  </div>
</header>
