{{! Inventory Tab }}
<section class='tab inventory scrollable {{tab.cssClass}}' data-group='primary' data-tab='inventory'>

  {{! Wealth Section }}
  <div class='wealth-section'>
    <h3 class='section-title'>Wealth</h3>
    <div class='currency-row flexrow'>
      <div class='currency-field'>
        <label class='resource-label'>Gold</label>
        <input
          type='text'
          name='system.currency.gold'
          value='{{system.currency.gold}}'
          data-dtype='Number'
          {{#unless @root.editable}}disabled{{/unless}}
        />
      </div>
      <div class='currency-field'>
        <label class='resource-label'>Silver</label>
        <input
          type='text'
          name='system.currency.silver'
          value='{{system.currency.silver}}'
          data-dtype='Number'
          {{#unless @root.editable}}disabled{{/unless}}
        />
      </div>
      <div class='currency-field'>
        <label class='resource-label'>Copper</label>
        <input
          type='text'
          name='system.currency.copper'
          value='{{system.currency.copper}}'
          data-dtype='Number'
          {{#unless @root.editable}}disabled{{/unless}}
        />
      </div>
    </div>
  </div>

  {{! Inventory Slots Section }}
  <div class='inventory-slots-section'>
    <div class='slots-info flexrow'>
      <div class='slot-field'>
        <label class='resource-label'>Max Slots:</label>
        <span class='slot-value'>{{system.inventory.maxSlots}}</span>
      </div>
      <div class='slot-field'>
        <label class='resource-label'>Occupied:</label>
        <span class='slot-value'>{{system.inventory.occupiedSlots}}</span>
      </div>
      <div class='slot-field'>
        <label class='resource-label'>Available:</label>
        <span class='slot-value'>{{system.inventory.availableSlots}}</span>
      </div>
    </div>
  </div>

  {{! Weapons List }}
  <h3 class='section-title'>Weapons</h3>
  <ol class='items-list'>
    <li class='item flexrow items-header'>
      <div class='item-name inventory-col-name'>{{localize 'Name'}}</div>
      <div class='item-damage' style='flex: 0 0 50px; text-align: center;'>Damage</div>
      <div class='item-range' style='flex: 0 0 60px; text-align: center;'>Range</div>
      <div class='item-grip' style='flex: 0 0 50px; text-align: center;'>Grip</div>
      <div class='item-cost inventory-col-cost'>Cost</div>
      <div class='item-slots inventory-col-slots'>Slots</div>
      <div class='item-equipped inventory-col-equipped' data-tooltip='Equip'>E</div>
    </li>
    {{#each weapons as |item id|}}
      <li
        class='item flexrow draggable weapon-item-row'
        data-item-id='{{item._id}}'
        data-document-class='Item'
      >
        <div class='item-name inventory-col-name'>
          <div class='item-image weapon-item-image'>
            <img
              src='{{item.img}}'
              data-tooltip='{{item.name}}'
              width='24'
              height='24'
            />
          </div>
          <div class='weapon-item-name'>{{item.name}}</div>
        </div>
        <div class='item-damage item-prop' style='flex: 0 0 50px; text-align: center;'>{{item.system.currentDamage}}</div>
        <div class='item-range item-prop' style='flex: 0 0 60px; text-align: center;'>{{item.system.rangeDisplay}}</div>
        <div class='item-grip item-prop' style='flex: 0 0 50px; text-align: center;'>{{item.system.gripDisplay}}</div>
        <div class='item-cost item-prop inventory-col-cost'>{{item.system.costDisplay}}</div>
        <div class='item-slots item-prop inventory-col-slots'>{{item.system.slots}}</div>
        <div class='item-equipped inventory-col-equipped' data-action='toggleWeaponEquipment' data-item-id='{{item._id}}' style='cursor: pointer;'>
          {{#if (eq item.system.equipmentState 'unequipped')}}
            <i class='far fa-circle unequipped' data-tooltip='Unequipped (click to equip one-handed)'></i>
          {{else if (eq item.system.equipmentState 'oneHand')}}
            <i class='fas fa-hand-fist equipped-one-hand' data-tooltip='Equipped One-Handed (click for two-handed)'></i>
          {{else if (eq item.system.equipmentState 'twoHands')}}
            <i class='fas fa-hands equipped-two-hands' data-tooltip='Equipped Two-Handed (click to unequip)'></i>
          {{/if}}
        </div>
      </li>
    {{/each}}
  </ol>

  {{! Armor List }}
  <h3 class='section-title'>Armor</h3>
  <ol class='items-list'>
    <li class='item flexrow items-header'>
      <div class='item-name inventory-col-name'>{{localize 'Name'}}</div>
      <div class='item-type' style='flex: 0 0 70px; text-align: center;'>Type</div>
      <div class='item-rating' style='flex: 0 0 60px; text-align: center;'>Rating</div>
      <div class='item-metal' style='flex: 0 0 80px; text-align: center;'>Metal</div>
      <div class='item-cost inventory-col-cost'>Cost</div>
      <div class='item-slots inventory-col-slots'>Slots</div>
      <div class='item-equipped inventory-col-equipped' data-tooltip='Equip'>E</div>
    </li>
    {{#each armor as |item id|}}
      <li
        class='item flexrow draggable armor-item-row'
        data-item-id='{{item._id}}'
        data-document-class='Item'
      >
        <div class='item-name inventory-col-name'>
          <div class='item-image armor-item-image'>
            <img
              src='{{item.img}}'
              data-tooltip='{{item.name}}'
              width='24'
              height='24'
            />
          </div>
          <div class='armor-item-name'>{{item.name}}</div>
        </div>
        <div class='item-type item-prop' style='flex: 0 0 70px; text-align: center;'>{{item.system.armorTypeDisplay}}</div>
        <div class='item-rating item-prop' style='flex: 0 0 60px; text-align: center;'>
          {{item.system.rating}}
          {{#if (ne item.system.rating item.system.finalRating)}}
            <span style='color: #0a0;'>({{item.system.finalRating}})</span>
          {{/if}}
        </div>
        <div class='item-metal item-prop' style='flex: 0 0 80px; text-align: center;'>{{item.system.metalDisplay}}</div>
        <div class='item-cost item-prop inventory-col-cost'>{{item.system.costDisplay}}</div>
        <div class='item-slots item-prop inventory-col-slots'>{{item.system.slots}}</div>
        <div class='item-equipped inventory-col-equipped' data-action='toggleArmorEquipment' data-item-id='{{item._id}}' style='cursor: pointer;'>
          {{#if item.system.equipped}}
            <i class='fas fa-shield-halved equipped' data-tooltip='Equipped (click to unequip)'></i>
          {{else}}
            <i class='far fa-circle unequipped' data-tooltip='Unequipped (click to equip)'></i>
          {{/if}}
        </div>
      </li>
    {{/each}}
  </ol>

  {{! Gear List }}
  <h3 class='section-title'>Gear</h3>
  <ol class='items-list'>
    <li class='item flexrow items-header'>
      <div class='item-name inventory-col-name'>{{localize 'Name'}}</div>
      <div class='item-type inventory-col-type'>Type</div>
      <div class='item-quantity inventory-col-quantity'>Qty</div>
      <div class='item-cost inventory-col-cost'>Cost</div>
      <div class='item-slots inventory-col-slots'>Slots</div>
      <div class='item-equipped inventory-col-equipped' data-tooltip='Equip'>E</div>
    </li>
    {{#each gear as |item id|}}
      <li
        class='item flexrow draggable gear-item-row'
        data-item-id='{{item._id}}'
        data-document-class='Item'
      >
        <div class='item-name inventory-col-name'>
          <div class='item-image gear-item-image'>
            <img
              src='{{item.img}}'
              data-tooltip='{{item.name}}'
              width='24'
              height='24'
            />
          </div>
          <div class='gear-item-name'>{{item.name}}</div>
        </div>
        <div class='item-type item-prop inventory-col-type'>{{item.system.type}}</div>
        <div class='item-quantity item-prop inventory-col-quantity'>{{item.system.quantity}}</div>
        <div class='item-cost item-prop inventory-col-cost'>{{item.system.costDisplay}}</div>
        <div class='item-slots item-prop inventory-col-slots'>{{item.system.slots}}</div>
        <div class='item-equipped inventory-col-equipped'>
          <i class='gear-equipped-icon {{#if item.system.equipped}}fas fa-check-circle equipped{{else}}far fa-circle unequipped{{/if}}'></i>
        </div>
      </li>
    {{/each}}
  </ol>

  {{! Add New Item Buttons }}
  {{#if @root.editable}}
    <div class='inventory-add-item' style='display: flex; gap: 8px;'>
      <a
        class='item-control item-create'
        data-tooltip='Create New Weapon'
        data-action='createDoc'
        data-document-class='Item'
        data-type='weapon'
      >
        <i class='fas fa-plus'></i>
        New Weapon
      </a>
      <a
        class='item-control item-create'
        data-tooltip='Create New Armor'
        data-action='createDoc'
        data-document-class='Item'
        data-type='armor'
      >
        <i class='fas fa-plus'></i>
        New Armor
      </a>
      <a
        class='item-control item-create'
        data-tooltip='Create New Gear'
        data-action='createDoc'
        data-document-class='Item'
        data-type='gear'
      >
        <i class='fas fa-plus'></i>
        New Gear
      </a>
    </div>
  {{/if}}

</section>
