{{! Inventory Tab }}
<section class='tab inventory scrollable {{tab.cssClass}}' data-group='primary' data-tab='inventory'>

  {{! Wealth Section }}
  <div class='wealth-section'>
    {{!-- <h3 class='section-title'>Wealth</h3> --}}
    <div class='currency-row flexrow'>
      <h3 class='section-title'>Wealth</h3>
      <div class='currency-field'>
        <label class='resource-label'>Gold</label>
        <input
          type='text'
          name='system.currency.gold'
          value='{{system.currency.gold}}'
          data-dtype='Number'
          {{#unless @root.editable}}disabled{{/unless}}
        />
      </div>
      <div class='currency-field'>
        <label class='resource-label'>Silver</label>
        <input
          type='text'
          name='system.currency.silver'
          value='{{system.currency.silver}}'
          data-dtype='Number'
          {{#unless @root.editable}}disabled{{/unless}}
        />
      </div>
      <div class='currency-field'>
        <label class='resource-label'>Copper</label>
        <input
          type='text'
          name='system.currency.copper'
          value='{{system.currency.copper}}'
          data-dtype='Number'
          {{#unless @root.editable}}disabled{{/unless}}
        />
      </div>
    </div>
  </div>

  {{! Inventory Slots Section }}
  <div class='inventory-slots-section'>
    <div class='slots-info flexrow'>
      <div class='slot-field'>
        <label class='resource-label'>Max Slots:</label>
        <span class='slot-value'>{{system.inventory.maxSlots}}</span>
      </div>
      <div class='slot-field'>
        <label class='resource-label'>Occupied:</label>
        <span class='slot-value'>{{system.inventory.occupiedSlots}}</span>
      </div>
      <div class='slot-field'>
        <label class='resource-label'>Available:</label>
        <span class='slot-value'>{{system.inventory.availableSlots}}</span>
      </div>
    </div>
  </div>

  {{! Weapons List }}
  <h3 class='section-title section-title-with-add'>
    Weapons
    {{#if @root.editable}}
      <i
        class='fas fa-plus clickable'
        data-tooltip='Create New Weapon'
        data-action='createDoc'
        data-document-class='Item'
        data-type='equipment'
        data-system.equipmentType='weapon'
      ></i>
    {{/if}}
  </h3>
  <ol class='items-list'>
    <li class='item flexrow items-header'>
      <div class='item-name inventory-col-name'>{{localize 'Name'}}</div>
      <div class='item-damage inventory-col-damage'>Damage</div>
      <div class='item-range inventory-col-range'>Range</div>
      <div class='item-grip inventory-col-grip'>Grip</div>
      <div class='item-cost inventory-col-cost'>Cost</div>
      <div class='item-slots inventory-col-slots'>Slots</div>
      <div class='inventory-col-equipped' data-tooltip='Equip'>E</div>
    </li>
    {{#each weapons as |item id|}}
      <li
        class='item flexrow draggable weapon-item-row'
        data-item-id='{{item._id}}'
        data-document-class='Item'
      >
        <div class='item-name inventory-col-name'>
          <div class='item-image clickable' data-action='viewDoc'>
            <img
              src='{{item.img}}'
              data-tooltip='{{item.name}}'
              width='24'
              height='24'
            />
          </div>
          <div class='clickable rollable' data-action='rollWeapon' data-item-id='{{item._id}}'>{{item.name}}</div>
        </div>
        <div class='item-damage item-prop inventory-col-damage'>{{item.system.currentDamage}}</div>
        <div class='item-range item-prop inventory-col-range'>{{item.system.rangeDisplay}}</div>
        <div class='item-grip item-prop inventory-col-grip'>{{item.system.gripDisplay}}</div>
        <div class='item-cost item-prop inventory-col-cost'>{{item.system.costDisplay}}</div>
        <div class='item-slots item-prop inventory-col-slots'>{{item.system.slots}}</div>
        <div class='inventory-col-equipped' data-action='toggleWeaponEquipment' data-item-id='{{item._id}}'>
          {{#if (eq item.system.equipmentState 'unequipped')}}
            <i class='clickable far fa-circle unequipped' data-tooltip='Unequipped (click to equip one-handed)'></i>
          {{else if (eq item.system.equipmentState 'oneHand')}}
            <i class='clickable fas fa-hand-fist equipped-one-hand' data-tooltip='Equipped One-Handed (click for two-handed)'></i>
          {{else if (eq item.system.equipmentState 'twoHands')}}
            <i class='clickable fas fa-hands equipped-two-hands' data-tooltip='Equipped Two-Handed (click to unequip)'></i>
          {{/if}}
        </div>
      </li>
    {{/each}}
  </ol>

  {{! Armor List }}
  <h3 class='section-title section-title-with-add'>
    Armor
    {{#if @root.editable}}
      <i
        class='fas fa-plus clickable'
        data-tooltip='Create New Armor'
        data-action='createDoc'
        data-document-class='Item'
        data-type='equipment'
        data-system.equipmentType='armor'
      ></i>
    {{/if}}
  </h3>
  <ol class='items-list'>
    <li class='item flexrow items-header'>
      <div class='item-name inventory-col-name'>{{localize 'Name'}}</div>
      <div class='item-type inventory-col-armor-type'>Type</div>
      <div class='item-rating inventory-col-rating'>Rating</div>
      <div class='item-metal inventory-col-metal'>Metal</div>
      <div class='item-cost inventory-col-cost'>Cost</div>
      <div class='item-slots inventory-col-slots'>Slots</div>
      <div class='inventory-col-equipped' data-tooltip='Equip'>E</div>
    </li>
    {{#each armor as |item id|}}
      <li
        class='item flexrow draggable armor-item-row'
        data-item-id='{{item._id}}'
        data-document-class='Item'
      >
        <div class='item-name inventory-col-name'>
          <div class='item-image clickable' data-action='viewDoc'>
            <img
              src='{{item.img}}'
              data-tooltip='{{item.name}}'
              width='24'
              height='24'
            />
          </div>
          <div class='clickable' data-action='viewDoc'>{{item.name}}</div>
        </div>
        <div class='item-type item-prop inventory-col-armor-type'>{{item.system.armorTypeDisplay}}</div>
        <div class='item-rating item-prop inventory-col-rating'>
          {{item.system.rating}}
          {{#if (ne item.system.rating item.system.finalRating)}}
            <span class='metal-bonus'>({{item.system.finalRating}})</span>
          {{/if}}
        </div>
        <div class='item-metal item-prop inventory-col-metal'>{{item.system.metalDisplay}}</div>
        <div class='item-cost item-prop inventory-col-cost'>{{item.system.costDisplay}}</div>
        <div class='item-slots item-prop inventory-col-slots'>{{item.system.slots}}</div>
        <div class='inventory-col-equipped' data-action='toggleArmorEquipment' data-item-id='{{item._id}}'>
          {{#if item.system.equipped}}
            <i class='clickable fas fa-shield-halved equipped' data-tooltip='Equipped (click to unequip)'></i>
          {{else}}
            <i class='clickable far fa-circle unequipped' data-tooltip='Unequipped (click to equip)'></i>
          {{/if}}
        </div>
      </li>
    {{/each}}
  </ol>

  {{! Gear List }}
  <h3 class='section-title section-title-with-add'>
    Gear
    {{#if @root.editable}}
      <i
        class='fas fa-plus clickable'
        data-tooltip='Create New Gear'
        data-action='createDoc'
        data-document-class='Item'
        data-type='equipment'
        data-system.equipmentType='gear'
      ></i>
    {{/if}}
  </h3>
  <ol class='items-list'>
    <li class='item flexrow items-header'>
      <div class='item-name inventory-col-name'>{{localize 'Name'}}</div>
      <div class='item-type inventory-col-type'>Type</div>
      <div class='item-quantity inventory-col-quantity'>Qty</div>
      <div class='item-cost inventory-col-cost'>Cost</div>
      <div class='item-slots inventory-col-slots'>Slots</div>
      <div class='inventory-col-equipped' data-tooltip='Equip'>E</div>
    </li>
    {{#each gear as |item id|}}
      <li
        class='item flexrow draggable gear-item-row'
        data-item-id='{{item._id}}'
        data-document-class='Item'
      >
        <div class='item-name inventory-col-name'>
          <div class='item-image clickable' data-action='viewDoc'>
            <img
              src='{{item.img}}'
              data-tooltip='{{item.name}}'
              width='24'
              height='24'
            />
          </div>
          <div class='clickable' data-action='viewDoc'>{{item.name}}</div>
        </div>
        <div class='item-type item-prop inventory-col-type'>{{item.system.type}}</div>
        <div class='item-quantity item-prop inventory-col-quantity'>{{item.system.quantity}}</div>
        <div class='item-cost item-prop inventory-col-cost'>{{item.system.costDisplay}}</div>
        <div class='item-slots item-prop inventory-col-slots'>{{item.system.slots}}</div>
        <div class='inventory-col-equipped'>
          <i class='gear-equipped-icon clickable {{#if item.system.equipped}}fas fa-check-circle equipped{{else}}far fa-circle unequipped{{/if}}'></i>
        </div>
      </li>
    {{/each}}
  </ol>

</section>
