{{! NPC Sheet Header }}
<header class='npc-header'>
  {{! Top Character Image }}
  <div class='npc-image-container'>
    <img
      class='npc-profile-img'
      src='{{actor.img}}'
      data-edit='img'
      data-action='onEditImage'
      data-tooltip='{{actor.name}}'
      width='300'
      height='180'
    />

    {{! Health Display (Over portrait) }}
    <div class="npc-health-container">

      {{! HD }}
      <div class='npc-stat-field'>
        <label class='npc-field-label'>{{localize "VAGABOND.Actor.NPC.FIELDS.hd.label"}}</label>
        <input
          type='text'
          name='system.hd'
          value='{{system.hd}}'
          data-dtype='Number'
          class='npc-number-input'
          size='3'
          placeholder='{{#unless system.locked}}1{{/unless}}'
          {{#if system.locked}}readonly{{/if}}
        />
      </div>

      {{! HP }}
      <div class='npc-hp-display'>
        <i class='fas fa-heart npc-hp-heart-icon'></i>
        <input
          type='text'
          name='system.health.value'
          value='{{system.health.value}}'
          data-dtype='Number'
          class='npc-hp-current'
        />
        <span class='npc-hp-separator'>/</span>
        <span class='npc-hp-max'>{{system.health.max}}</span>
      </div>

      {{! Fatigue - Skull icons }}
      <div class='npc-fatigue-field'>
        <div class='npc-fatigue-checkboxes'>
          {{#each fatigueBoxes as |box index|}}
            <i
              class='fas fa-skull fatigue-skull {{#if box.checked}}fatigue-active{{else}}fatigue-inactive{{/if}}'
              data-index='{{index}}'
              data-tooltip='Fatigue Level {{box.level}}'
            ></i>
          {{/each}}
        </div>
      </div>
    </div>
        {{! TL Display (Over portrait) }}
    <div class="npc-tl-container" title="{{localize "VAGABOND.Actor.NPC.FIELDS.threatLevel.label"}}">
      <span class="npc-tl">
        {{#if system.locked}}
          {{system.threatLevelFormatted}}
        {{else}}
          <input 
            type="number" 
            name="system.threatLevel" 
            value="{{system.threatLevel}}" 
            step="0.01" 
            min="0"
            placeholder="0.00"
            class="npc-tl-input" 
          />
        {{/if}}
      </span>
    </div>


  </div>

  {{! Lock/Unlock Toggle and Name Row }}
  <div class='npc-lock-name-row'>
    <input
      name='name'
      type='text'
      value='{{actor.name}}'
      placeholder='{{#unless system.locked}}{{localize "VAGABOND.Actor.NPC.FIELDS.name.label"}}{{/unless}}'
      class='npc-name-input'
      {{#if system.locked}}readonly{{/if}}
    />

    <button
      type='button'
      data-action='toggleLock'
      class='npc-lock-button {{#if system.locked}}locked{{else}}unlocked{{/if}}'
      data-tooltip='{{#if system.locked}}{{localize "VAGABOND.Actor.NPC.Tooltips.Unlock"}}{{else}}{{localize "VAGABOND.Actor.NPC.Tooltips.Lock"}}{{/if}}'
    >
      <i class='fas {{#if system.locked}}fa-lock{{else}}fa-lock-open{{/if}}'></i>
    </button>
  </div>

  {{! Row: Size and Being Type }}
  <div class="npc-type-container">
    <div class='npc-type-row'>
          {{> "systems/vagabond/templates/shared/size-select.hbs" name="system.size" selected=system.size cssClass="npc-size-select" disabled=system.locked}}
          {{> "systems/vagabond/templates/shared/being-type-select.hbs" name="system.beingType" selected=system.beingType cssClass="npc-being-select" disabled=system.locked}}
    </div>
    {{! Render if zone exists OR if the sheet is NOT locked }}
    {{#if (or system.zone (not system.locked))}}
      <div class="npc-zone-field">
        <label class="npc-field-label">Zone:</label>
        <select name="system.zone" class="npc-zone-select" {{#if system.locked}}disabled{{/if}}>
          {{selectOptions config.combatZones selected=system.zone localize=true blank=""}}
        </select>
      </div>
    {{/if}}
  </div>

  {{!-- NPC description --}}
  {{#unless (and system.locked (not system.description))}}
    <div class='npc-detail-row npc-description-row'>
      <textarea
        name='system.description'
        class='npc-description-textarea'
        rows='2'
        placeholder='{{#unless system.locked}}{{localize "VAGABOND.Actor.NPC.FIELDS.description.label"}}{{/unless}}'
        {{#if system.locked}}readonly{{/if}}
      >{{system.description}}</textarea>
    </div>
  {{/unless}}
</header>
