{{! Sliding Panel - Right Side }}
<aside class='sliding-panel {{#if isPanelOpen}}panel-open{{else}}panel-closed{{/if}}'>
  {{! Panel Content }}
  <div class='panel-content scrollable'>

    {{! Sheet Header }}
    <header class='sheet-header'>
      {{! Character Name with Level Up Button and XP - Full Width at Top }}
      <div class='name-row-top'>
        <input
          name='name'
          type='text'
          value='{{actor.name}}'
          placeholder='Character Name'
          class='character-name-input-large'
        />
        <div class='top-right-controls'>
          {{! XP Field with Level Up Indicator }}
          <div class='xp-field-inline {{#if system.attributes.canLevelUp}}level-up-ready{{/if}}' data-tooltip='{{#if system.attributes.canLevelUp}}Click label to Level Up!{{else}}XP: {{system.attributes.xp}} / {{system.attributes.xpRequired}}{{/if}}'>
            <label class='resource-label' {{#if (and system.attributes.canLevelUp (lt system.attributes.level.value 10))}}data-action='levelUp'{{/if}}>
              {{localize 'VAGABOND.Actor.Character.FIELDS.attributes.xp.label'}}
              {{#if system.attributes.canLevelUp}}
                <i class='fas fa-arrow-up level-up-icon'></i>
              {{/if}}
            </label>
            <input
              type='text'
              name='system.attributes.xp'
              value='{{system.attributes.xp}}'
              data-dtype='Number'
              class='xp-input'
            />
            <span class='xp-required'>/ {{system.attributes.xpRequired}}</span>
          </div>
        </div>
      </div>

      {{! Level, Ancestry, Class, Being Type, Size - All in One Row }}
      <div class='character-info-combined-row'>
        {{#if (and (not system.details.constructed) (not system.details.builderDismissed))}}
          <button type='button' class='btn-char-builder-icon pulse-glow' data-action='openCharBuilder' data-tooltip='Build Character'>
            <i class='fa-fw fas fa-scroll'></i>
          </button>
        {{/if}}
        <span>
          Level
          <input
            type='text'
            name='system.attributes.level.value'
            value='{{system.attributes.level.value}}'
            data-dtype='Number'
            class='level-input'
          />,
          {{#if system.ancestryData}}
            <span class='ancestry-name clickable-link' data-item-id='{{system.ancestryData.id}}' data-action='viewAncestry' data-tooltip='Click to view, Right-click to remove'>{{system.ancestryData.name}}</span>
          {{else}}
            <span>{{localize "VAGABOND.UI.Labels.UnknownAncestry"}}</span>
          {{/if}}
          {{#if system.classData}}
            <span class='class-name clickable-link' data-item-id='{{system.classData.id}}' data-action='viewClass' data-tooltip='Click to view, Right-click to remove'>{{system.classData.name}}</span>
          {{else}}
            <span>{{localize "VAGABOND.UI.Labels.NoClass"}}</span>
          {{/if}}
          {{#if system.ancestryData}}
            ({{system.ancestryData.beingType}}, {{localize (lookup config.sizes system.ancestryData.size)}} size)
          {{else}}
            (Unknown, {{localize "VAGABOND.Sizes.medium"}} size)
          {{/if}}
        </span>
      </div>

      {{! Main Row: Image and Stats Side by Side }}
      <div class='header-main-row'>
        {{! Character Image Container }}
        <div class='image-column'>
          <div class='char-image-container'>
            <img
              class='profile-img'
              src='{{actor.img}}'
              data-edit='img'
              data-action='onEditImage'
              data-tooltip='{{actor.name}}'
              width='180'
              height='180'
            />

            {{! Armor Info Overlay (Right side) }}
            <div class='armor-overlay'>
              {{!-- <div class='armor-type'>{{equippedArmorType}}</div> --}}
              <div class='armor-value'>{{system.armor}}</div>
            </div>

            {{! Downtime Button Overlay (Left side) }}
            <div class='downtime-overlay'>
              <button
                type='button'
                class='downtime-overlay-button'
                data-action='openDowntime'
                data-tooltip='{{localize "VAGABOND.Downtime.OpenTooltip"}}'
              >
                <i class='fas fa-hourglass-half'></i>
              </button>
            </div>

            {{! Row 3: Hit Points }}
            <div class='hp-display'>
              <i class='fas fa-heart hp-icon'></i>
              <input
                type='text'
                name='system.health.value'
                value='{{system.health.value}}'
                data-dtype='Number'
                class='hp-current'
              />
              <span class='hp-separator'>/</span>
              <span class='hp-max'>{{system.health.max}}</span>
            </div>
          </div>
        </div>

        {{! Stats Column - 3 rows: Stats Grid, Fatigue, HP }}
        <div class='stats-column'>
          {{! Row 1: Stats Grid - 3x2 grid of stats }}
          <div class='stats-grid'>
            {{#each system.stats as |stat key|}}
              <div class='stat-item'>
                <input
                  type='text'
                  name='system.stats.{{key}}.value'
                  value='{{stat.value}}'
                  class='stat-score'
                  data-dtype='Number'
                  placeholder='0'
                />
                <label
                  class='stat-label'
                {{!-- data-action='roll'
                  data-roll='d20'
                  data-roll-type='stat' 
                  data-stat-key='{{key}}' --}}
                  data-label='{{localize (lookup @root.config.stats key)}} Check'
                  data-tooltip='{{localize (lookup @root.config.stats key)}}'
                >{{localize (lookup @root.config.stats key)}}</label>
              </div>
            {{/each}}
          </div>

          {{! Row 2: Fatigue Bar }}
          <div class='fatigue-row'>
            <div class="fatigue-label">{{localize "VAGABOND.Actor.Character.FIELDS.combat.fatigue.label"}}: </div>
            <div class='fatigue-checkboxes'>
              {{#each fatigueBoxes as |box index|}}
                <i
                  class='fas fa-skull fatigue-skull {{#if box.checked}}fatigue-active{{else}}fatigue-inactive{{/if}}'
                  data-index='{{index}}'
                  data-tooltip='Fatigue Level {{box.level}}'
                ></i>
              {{/each}}
            </div>
          </div>


        </div>
      </div>
    </header>

    {{! Speed Stats - All in one row with space around }}
    <div class='speed-stats-row'>
      {{! Favor/Hinder Toggle Button }}
      <div class='favor-hinder-toggle-container'>
        <button
          type='button'
          class='favor-hinder-toggle {{system.favorHinder}}'
          data-action='toggleFavorHinder'
          data-tooltip='{{#if (eq system.favorHinder "favor")}}{{localize "VAGABOND.FavorHinder.Tooltips.favor"}}{{else if (eq system.favorHinder "hinder")}}{{localize "VAGABOND.FavorHinder.Tooltips.hinder"}}{{else}}{{localize "VAGABOND.FavorHinder.Tooltips.none"}}{{/if}}'
        >
          {{#if (eq system.favorHinder "favor")}}
            <img src='systems/vagabond/assets/ui/dice/favor-mark.webp' alt='Favored' class='favor-hinder-marker' />
          {{else if (eq system.favorHinder "hinder")}}
            <img src='systems/vagabond/assets/ui/dice/hinder-mark.webp' alt='Hindered' class='favor-hinder-marker' />
          {{else}}
            <img src='systems/vagabond/assets/ui/dice/neutral-mark.webp' alt='Neutral' class='favor-hinder-marker' />
          {{/if}}
        </button>
        <label class='favor-hinder-label favor-hinder-label-wrap'>
          {{#if (eq system.favorHinder "favor")}}
            {{localize "VAGABOND.FavorHinder.States.favor"}}
          {{else if (eq system.favorHinder "hinder")}}
            {{localize "VAGABOND.FavorHinder.States.hinder"}}
          {{else}}
            {{localize "VAGABOND.FavorHinder.States.none"}}
          {{/if}}
        </label>
      </div>

      {{!-- Studied Die Tracker --}}
      <div class='stat-item'>
        <input
          type='number'
          name='system.studiedDice'
          value='{{system.studiedDice}}'
          data-dtype='Number'
          class='stat-value-input'
          min='0'
        />
        <label class='stat-label stat-label-wrap rollable' data-action='spendStudiedDie' data-tooltip='Click to spend Studied Die | Shift+Click to add'>{{localize "VAGABOND.UI.Sections.StudiedDie"}}</label>
      </div>

      {{!-- Check Modifier --}}
      <div class='stat-item'>
        <input
          type='text'
          name='system.universalCheckBonus'
          value='{{system.universalCheckBonus}}'
          data-dtype='Number'
          class='stat-value-input check-mod-value'
          readonly
        />
        <label class='stat-label stat-label-wrap rollable' data-action='modifyCheckBonus' oncontextmenu='return false;' data-tooltip='Left click: +1 | Right click: -1 | Resets to 0 after any roll'>{{localize "VAGABOND.UI.Labels.CheckMod"}}</label>
      </div>

      {{!-- {{! Universal Check Bonus }}
      <div class='stat-item universal-bonus-field'>
        <input
          type='number'
          name='system.universalCheckBonus'
          value='{{system.universalCheckBonus}}'
          data-dtype='Number'
          class='stat-value-input'
          placeholder='0'
          data-tooltip='Universal bonus to all d20 rolls'
        />
        <label class='stat-label'>{{localize "VAGABOND.UI.Labels.Check"}}</label>
      </div>

      {{! Universal Damage Bonus }}
      <div class='stat-item universal-bonus-field'>
        <div class='damage-bonus-group'>
          <input
            type='number'
            name='system.universalDamageBonus'
            value='{{system.universalDamageBonus}}'
            data-dtype='Number'
            class='stat-value-input damage-flat'
            placeholder='0'
            data-tooltip='Flat bonus to all damage'
          />
          <input
            type='text'
            name='system.universalDamageDice'
            value='{{system.universalDamageDice}}'
            class='stat-value-input damage-dice'
            placeholder='dice'
            data-tooltip='Dice bonus to all damage (e.g., 1d4)'
          />
        </div>
        <label class='stat-label'>{{localize "VAGABOND.UI.Labels.Damage"}}</label>
      </div> --}}

      <div class='stat-item'>
        <input
          type='text'
          name='system.speed.base'
          value='{{system.speed.base}}'
          data-dtype='Number'
          class='stat-value-input'
        />
        <label class='stat-label stat-label-with-unit'>{{localize "VAGABOND.UI.Sections.Speed"}}<br><span class='stat-unit'>{{localize "VAGABOND.UI.Units.Feet"}}</span></label>
      </div>
      <div class='stat-item'>
        <input
          type='text'
          name='system.speed.crawl'
          value='{{system.speed.crawl}}'
          data-dtype='Number'
          class='stat-value-input'
        />
        <label class='stat-label stat-label-with-unit'>{{localize "VAGABOND.UI.Sections.Crawl"}}<br><span class='stat-unit'>{{localize "VAGABOND.UI.Units.Feet"}}</span></label>
      </div>
      <div class='stat-item'>
        <input
          type='text'
          name='system.speed.travel'
          value='{{system.speed.travel}}'
          data-dtype='Number'
          class='stat-value-input'
        />
        <label class='stat-label stat-label-with-unit'>{{localize "VAGABOND.UI.Sections.Travel"}}<br><span class='stat-unit'>{{localize "VAGABOND.UI.Units.Miles"}}</span></label>
      </div>
      <div class='stat-item luck-item'>
        <div class='luck-display'>
          <i class='luck-icon'></i>
          <input
            type='text'
            name='system.currentLuck'
            value='{{system.currentLuck}}'
            data-dtype='Number'
            class='luck-value'
          />
        </div>
        <label class='stat-label stat-label-wrap rollable' data-action='spendLuck' data-tooltip='Click to spend Luck | Shift+Click to recharge'>{{localize "VAGABOND.UI.Sections.LuckPool"}}</label>
      </div>
    </div>

    <section class='skills-container grid-skills grid-skills-2col'>
      {{! Left column: Skills (1-column layout) }}
      <section class='skills-section grid-span-1'>
        <h4>{{localize "VAGABOND.UI.Sections.Skills"}}</h4>
        <div class='skills-list'>
          {{#each system.skills as |skill key|}}
            <div class='skill flexrow'>
              <label class='skill-checkbox-label'>
                <input
                  type='checkbox'
                  name='system.skills.{{key}}.trained'
                  {{#if skill.trained}}checked{{/if}}
                  class='skill-checkbox-hidden'
                />
                {{#if skill.trained}}
                  <i class='skill-checkbox-icon fa-solid fa-circle-t'></i>
                {{else}}
                  <i class='skill-checkbox-icon far fa-circle'></i>
                {{/if}}
              </label>
              <label
                class='skill-label rollable'
                data-action='roll'
                data-roll='d20'
                data-type='skill'
                data-key='{{key}}'
                data-difficulty='{{skill.difficulty}}'
                data-trained='{{skill.trained}}'
                data-label='{{skill.label}} (Difficulty {{skill.difficulty}})'
              >
                {{skill.label}}
                {{#if (eq @root.system.attributes.manaSkill key)}}
                  <i class='fa-duotone fa-regular fa-wand-magic-sparkles mana-skill-icon' title='Mana Skill'></i>
                {{/if}}
              </label>
              <span class='skill-difficulty'>{{skill.difficulty}}</span>
            </div>
          {{/each}}
        </div>

                {{! Weapon Skills / Attacks Section }}
        <div class='weapon-skills flexcol mt-10'>
          <h4>{{localize "VAGABOND.UI.Sections.Attacks"}}</h4>
          <div class='skills-list'>
            {{#each system.weaponSkills as |weaponSkill key|}}
              <div class='skill flexrow'>
                <label class='skill-checkbox-label'>
                  <input
                    type='checkbox'
                    name='system.weaponSkills.{{key}}.trained'
                    {{#if weaponSkill.trained}}checked{{/if}}
                    class='skill-checkbox-hidden'
                  />
                  {{#if weaponSkill.trained}}
                    <i class='skill-checkbox-icon fa-solid fa-circle-t'></i>
                  {{else}}
                    <i class='skill-checkbox-icon far fa-circle'></i>
                  {{/if}}
                </label>
                <label
                  class='skill-label rollable'
                  data-action='roll'
                  data-roll='d20'
                  data-type='skill'
                  data-key='{{key}}'
                  data-difficulty='{{weaponSkill.difficulty}}'
                  data-trained='{{weaponSkill.trained}}'
                  data-label='{{weaponSkill.label}} (Difficulty {{weaponSkill.difficulty}})'
                >{{weaponSkill.label}}</label>
                <span class='skill-difficulty'>{{weaponSkill.difficulty}}</span>
              </div>
            {{/each}}
          </div>
        </div>
      </section>

      {{! Right column: Saves, Attacks }}
      <section class='right-column grid-span-1'>
        {{! Saves Section - Horizontal layout }}
        <div class='saves'>
          <h4>{{localize "VAGABOND.UI.Sections.Saves"}}</h4>
          <div class='saves-row flexrow'>
            {{#each system.saves as |save key|}}
              <div class='save flexcol align-center'>
                <label
                  class='resource-label rollable'
                  data-action='roll'
                  data-roll='d20'
                  data-type='save'
                  data-key='{{key}}'
                  data-difficulty='{{save.difficulty}}'
                  data-label='{{save.label}} Save (Difficulty {{save.difficulty}})'
                  data-tooltip='{{save.description}}'
                >{{save.label}}</label>
                <span class='save-difficulty'>{{#if (eq key 'reflex')}}<i class='fas fa-running'></i> {{else if (eq key 'endure')}}<i class='fas fa-shield-alt'></i> {{else if (eq key 'will')}}<i class='fas fa-brain'></i> {{/if}}{{save.difficulty}}</span>
              </div>
            {{/each}}
          </div>
        </div>

        {{! Favorites Section - Equipped Items }}
        <div class='favorites-section flexcol'>
          <h4>{{localize "VAGABOND.UI.Sections.Equipped"}}</h4>

          {{!-- Check if any items are equipped --}}
          {{#if hasEquippedItems}}

            {{! 1. Equipped Weapons }}
            {{#each weapons as |weapon|}}
              {{#if weapon.system.equipped}}
                <div class='equipped-weapon' data-weapon-id='{{weapon._id}}'>
                  <label class='weapon-name rollable' data-action='rollWeapon' data-item-id='{{weapon._id}}' {{#if weapon.system.propertiesDisplay}}data-tooltip='Properties: {{weapon.system.propertiesDisplay}}'{{/if}}>{{weapon.name}}</label>
                  <div class='weapon-damage'>{{weapon.system.currentDamage}}</div>
                  <div class='weapon-damage-icon'><i class='{{lookup @root.config.damageTypeIcons weapon.system.damageType}}'></i></div>
                  <div class='weapon-range'>{{weapon.system.rangeAbbrev}}</div>
                  <div class='weapon-grip-icon'>
                    {{#if (eq weapon.system.grip '1H')}}<i class='fas fa-hand-fist'></i>
                    {{else if (eq weapon.system.grip '2H')}}<i class='fas fa-hands'></i>
                    {{else if (eq weapon.system.grip 'F')}}<i class='fas fa-hand-fist'></i>
                    {{else if (eq weapon.system.grip 'V')}}
                      {{#if (eq weapon.system.equipmentState 'oneHand')}}<i class='fas fa-hand-fist clickable' data-action='toggleWeaponGrip' data-item-id='{{weapon._id}}'></i>
                      {{else if (eq weapon.system.equipmentState 'twoHands')}}<i class='fas fa-hands clickable' data-action='toggleWeaponGrip' data-item-id='{{weapon._id}}'></i>
                      {{/if}}
                    {{/if}}
                  </div>
                </div>
              {{/if}}
            {{/each}}

            {{! 2. Equipped Relics }}
            {{#each gear as |item|}}
              {{#if (and item.system.equipped (eq item.system.equipmentType 'relic'))}}
                <div class='equipped-gear' data-item-id='{{item._id}}'>
                  <label class='item-name rollable' data-action='useItem' data-item-id='{{item._id}}'>{{item.name}}</label>
                  <div class='item-damage'>—</div>
                  <div class='item-damage-icon'><i class='{{lookup @root.config.damageTypeIcons "-"}}'></i></div>
                  <div class='item-quantity'>×{{item.system.quantity}}</div>
                </div>
              {{/if}}
            {{/each}}

            {{! 3. Equipped Alchemicals }}
            {{#each gear as |item|}}
              {{#if (and item.system.equipped (eq item.system.equipmentType 'alchemical'))}}
                {{#unless (eq item.system.damageType '-')}}
                  {{! Alchemicals with damage }}
                  <div class='equipped-gear' data-item-id='{{item._id}}'>
                    <label class='item-name rollable' data-action='rollWeapon' data-item-id='{{item._id}}'>{{item.name}}</label>
                    <div class='item-damage'>{{item.system.damageAmount}}</div>
                    <div class='item-damage-icon'><i class='{{lookup @root.config.damageTypeIcons item.system.damageType}}'></i></div>
                    <div class='item-quantity'>×{{item.system.quantity}}</div>
                  </div>
                {{else}}
                  {{! Alchemicals without damage }}
                  <div class='equipped-gear' data-item-id='{{item._id}}'>
                    <label class='item-name rollable' data-action='useItem' data-item-id='{{item._id}}'>{{item.name}}</label>
                    <div class='item-damage'>—</div>
                    <div class='item-damage-icon'><i class='{{lookup @root.config.damageTypeIcons "-"}}'></i></div>
                    <div class='item-quantity'>×{{item.system.quantity}}</div>
                  </div>
                {{/unless}}
              {{/if}}
            {{/each}}

            {{! 4. Equipped Gear (Everything else) }}
            {{#each gear as |item|}}
              {{#if item.system.equipped}}
                {{#unless (or (eq item.system.equipmentType 'relic') (eq item.system.equipmentType 'alchemical'))}}
                  <div class='equipped-gear' data-item-id='{{item._id}}'>
                    <label class='item-name rollable' data-action='useItem' data-item-id='{{item._id}}'>{{item.name}}</label>
                    <div class='item-damage'>—</div>
                    <div class='item-damage-icon'><i class='{{lookup @root.config.damageTypeIcons "-"}}'></i></div>
                    <div class='item-quantity'>×{{item.system.quantity}}</div>
                  </div>
                {{/unless}}
              {{/if}}
            {{/each}}

            {{! 5. Equipped Armor - COMMENTED OUT }}
            {{!--
            {{#each armor as |item|}}
              {{#if item.system.worn}}
                <div class='equipped-armor flexrow flex-group-center'>
                  <label class='resource-label flexlarge align-left' title='{{item.system.description}}'>{{item.name}} (AV: {{item.system.armorValue}})</label>
                </div>
              {{/if}}
            {{/each}}
            --}}

          {{else}}
            {{!-- Placeholder Text for Equipped --}}
            <div class="no-perks italic py-2-px-8">{{localize 'VAGABOND.UI.Sections.equippedPlaceholder'}}</div>
          {{/if}}

          {{! Spells Section }}
          {{#if system.attributes.isSpellcaster}}
            <div class='weapon-skills flexcol mt-10'>
              <div class="title-container">
                <h4>{{localize "VAGABOND.UI.Sections.Spells"}}</h4>
                <div class="title-right-group">
                  <i class='fas fa-star-christmas mana-icon' title="{{localize "VAGABOND.Actor.Character.FIELDS.mana.castingMax.label"}}: {{system.mana.castingMax}}"></i>
                  <span class='mana-display'><span class="mana-current clickable mana-modifier" data-mana-action='modify' data-tooltip='Left click to spend mana, Right click to restore mana'>{{system.mana.current}}</span>/{{system.mana.max}}</span>
                </div>
              </div>

              {{#if hasFavoritedSpells}}
                {{#each spells as |spell|}}
                  {{#if spell.system.favorite}}
                    <div class='favorited-spell' data-spell-id='{{spell._id}}'>
                      <label class='spell-name rollable' data-action='castSpell' data-spell-id='{{spell._id}}'>{{spell.name}}</label>
                      <div class='spell-damage-dice {{#unless (eq spell.system.damageType "-")}}clickable{{/unless}}' {{#unless (eq spell.system.damageType '-')}}data-action='modifyDamage' data-spell-id='{{spell._id}}' data-damage-type='{{spell.system.damageType}}' title='Left click to increase damage (+1 mana per d6), Right click to decrease'{{/unless}}>{{#unless (eq spell.system.damageType '-')}}1d6{{else}}0{{/unless}}</div>
                      <div class='spell-fx-icon fx-inactive' data-action='toggleFx' data-spell-id='{{spell._id}}' title='Toggle spell effect (adds +1 mana when combined with damage)'>
                        {{#if (eq @root.config.fxIcon.type "txt")}}<span class="fx-text-label">{{@root.config.fxIcon.value}}</span>
                        {{else if (eq @root.config.fxIcon.type "img")}}<img src="{{@root.config.fxIcon.value}}" alt="Fx" style="border:none; vertical-align:middle; height: 1em;" />
                        {{else}}<i class="{{@root.config.fxIcon.value}}"></i>{{/if}}
                      </div>
                      <div class='spell-damage-icon'><i class='{{lookup @root.config.damageTypeIcons spell.system.damageType}}' data-tooltip='{{localize (lookup @root.config.damageTypes spell.system.damageType)}}'></i></div>
                      <select class='spell-delivery-select' data-spell-id='{{spell._id}}'>
                        <option value=''>{{localize "VAGABOND.UI.Labels.Delivery"}}</option>
                        {{#each @root.config.deliveryTypes as |label key|}}<option value='{{key}}'>{{localize label}}</option>{{/each}}
                      </select>
                      <div class='spell-delivery-cost disabled' data-action='modifyDelivery' data-spell-id='{{spell._id}}' title='Select a delivery type first'>0</div>
                      <div class='spell-range clickable' 
                        data-action='toggleSpellPreview' 
                        data-spell-id='{{spell._id}}' 
                        title='Draw template'>—
                      </div>
                      <div class='spell-mana-total'>0</div>
                    </div>
                  {{/if}}
                {{/each}}
              {{else}}
                {{!-- Placeholder Text for Spells --}}
                <div class="no-perks italic py-2-px-8">{{localize 'VAGABOND.UI.Sections.spellsPlaceholder'}}</div>
              {{/if}}
            </div>
          {{/if}}

        </div>
        
  </div>

  {{! Click Zone - visible sliver when closed (on the right) }}
  <div class='panel-click-zone' data-action='togglePanel'></div>
</aside>
