{{! Sliding Panel - Right Side }}
<aside class='sliding-panel {{#if isPanelOpen}}panel-open{{else}}panel-closed{{/if}}'>
  {{! Panel Content }}
  <div class='panel-content scrollable'>

    {{! Stats Row - All abilities in one row, no title }}
    <div class='stats-row'>
      {{#each system.abilities as |ability key|}}
        <div class='stat-item'>
          <input
            type='text'
            name='system.abilities.{{key}}.value'
            value='{{ability.value}}'
            class='stat-score'
            data-dtype='Number'
          />
          <label
            class='stat-label rollable'
            data-action='roll'
            data-roll='d20'
            data-label='{{localize (lookup @root.config.abilities key)}} Check'
            data-tooltip='{{localize (lookup @root.config.abilities key)}}'
          >{{localize (lookup @root.config.abilities key)}}</label>
        </div>
      {{/each}}
    </div>

    <section class='grid grid-2col'>
      {{! Left column: Skills (1-column layout) }}
      <section class='skills-section grid-span-1'>
        <h3>Skills</h3>
        <div class='skills-list'>
          {{#each system.skills as |skill key|}}
            <div class='skill flexrow'>
              <label class='skill-checkbox-label'>
                <input
                  type='checkbox'
                  name='system.skills.{{key}}.trained'
                  {{#if skill.trained}}checked{{/if}}
                  class='skill-checkbox-hidden'
                />
                {{#if skill.trained}}
                  <i class='skill-checkbox-icon fa-solid fa-circle-t'></i>
                {{else}}
                  <i class='skill-checkbox-icon far fa-circle'></i>
                {{/if}}
              </label>
              <label
                class='skill-label rollable'
                data-action='roll'
                data-roll='d20'
                data-label='{{skill.label}} (Difficulty {{skill.difficulty}})'
              >{{skill.label}}</label>
              <span class='skill-difficulty'>{{skill.difficulty}}</span>
            </div>
          {{/each}}
        </div>
      </section>

      {{! Right column: Saves, Attacks }}
      <section class='right-column grid-span-1'>
        {{! Saves Section - Horizontal layout }}
        <div class='saves'>
          <h3>Saves</h3>
          <div class='saves-row flexrow'>
            {{#each system.saves as |save key|}}
              <div class='save flexcol align-center'>
                <label
                  class='resource-label rollable'
                  data-action='roll'
                  data-roll='d20'
                  data-label='{{save.label}} Save (Difficulty {{save.difficulty}})'
                  data-tooltip='{{save.description}}'
                >{{save.label}}</label>
                <span class='save-difficulty'>[{{save.difficulty}}]</span>
              </div>
            {{/each}}
          </div>
        </div>

        {{! Weapon Skills / Attacks Section }}
        <div class='weapon-skills flexcol'>
          <h3>Attacks</h3>
          {{#each system.weaponSkills as |weaponSkill key|}}
            <div class='weapon-skill flexrow'>
              <label class='skill-checkbox-label'>
                <input
                  type='checkbox'
                  name='system.weaponSkills.{{key}}.trained'
                  {{#if weaponSkill.trained}}checked{{/if}}
                  class='skill-checkbox-hidden'
                />
                {{#if weaponSkill.trained}}
                  <i class='skill-checkbox-icon fa-solid fa-circle-t'></i>
                {{else}}
                  <i class='skill-checkbox-icon far fa-circle'></i>
                {{/if}}
              </label>
              <label
                class='skill-label rollable'
                data-action='roll'
                data-roll='d20'
                data-label='{{weaponSkill.label}} (Difficulty {{weaponSkill.difficulty}})'
              >{{weaponSkill.label}}</label>
              <span class='skill-difficulty'>{{weaponSkill.difficulty}}</span>
            </div>
          {{/each}}

          {{! Equipped Weapons }}
          {{#each weapons as |weapon|}}
            {{#if weapon.system.equipped}}
              <div class='equipped-weapon flexrow flex-group-center'>
                <label
                  class='resource-label rollable flexlarge align-left'
                  data-action='rollWeapon'
                  data-item-id='{{weapon._id}}'
                  title='{{weapon.system.propertiesDisplay}}'
                >{{weapon.name}} ({{weapon.system.currentDamage}})</label>
                <span class='weapon-info'>
                  {{weapon.system.rangeDisplay}}
                  {{#if (eq weapon.system.equipmentState 'oneHand')}}
                    {{#if (eq weapon.system.grip 'V')}}
                      <i class='fas fa-hand-fist clickable' title='One-Handed (click to switch to two-handed)' data-action='toggleWeaponGrip' data-item-id='{{weapon._id}}'></i>
                    {{else}}
                      <i class='fas fa-hand-fist' title='One-Handed'></i>
                    {{/if}}
                  {{else if (eq weapon.system.equipmentState 'twoHands')}}
                    {{#if (eq weapon.system.grip 'V')}}
                      <i class='fas fa-hands clickable' title='Two-Handed (click to switch to one-handed)' data-action='toggleWeaponGrip' data-item-id='{{weapon._id}}'></i>
                    {{else}}
                      <i class='fas fa-hands' title='Two-Handed'></i>
                    {{/if}}
                  {{/if}}
                </span>
              </div>
            {{/if}}
          {{/each}}

          {{! Favorited Spells }}
          {{#each spells as |spell|}}
            {{#if spell.system.favorite}}
              <div class='favorited-spell flexrow flex-group-center'>
                <label
                  class='resource-label rollable flexlarge align-left'
                  data-action='useSpell'
                  data-item-id='{{spell._id}}'
                  title='{{localize (lookup @root.config.deliveryTypes spell.system.delivery.type)}}'
                >{{spell.name}}{{#unless (eq spell.system.damageBase '-')}} ({{localize (lookup @root.config.damageTypes spell.system.damageBase)}}){{/unless}}</label>
                <span class='spell-info'>
                  {{#if spell.system.delivery.cost}}
                    <i class='fas fa-droplet' title='Mana Cost'></i> {{spell.system.delivery.cost}}
                  {{/if}}
                </span>
              </div>
            {{/if}}
          {{/each}}
        </div>
      </section>
    </section>

  </div>

  {{! Click Zone - visible sliver when closed (on the right) }}
  <div class='panel-click-zone' data-action='togglePanel'></div>
</aside>
