{{! Spells Tab }}
<section
  class='tab spells scrollable {{tab.cssClass}}'
  data-group='primary'
  data-tab='spells'
>
  <div class='spells-section flexcol'>
    {{#if @root.editable}}
      <div class='item-controls spell-add-button'>
        <a
          class='item-control item-create'
          data-tooltip='{{localize "DOCUMENT.Create" type="Spell"}}'
          data-action='createDoc'
          data-document-class='Item'
          data-type='spell'
        >
          <i class='fas fa-plus'></i>
          {{localize 'VAGABOND.Item.Spell.AddSpell'}}
        </a>
      </div>
    {{/if}}

    <ol class='items-list'>
      {{#each spells as |spell|}}
        <li
          class='item flexrow draggable'
          data-item-id='{{spell._id}}'
          data-document-class='Item'
        >
          <div class='item-name flexrow spell-list-item-name'>
            <div class='item-image item-clickable-image'>
              <a class='rollable' data-action='viewDoc' data-tooltip='Open spell sheet'>
                <img
                  src='{{spell.img}}'
                  data-tooltip='{{spell.name}}'
                  width='24'
                  height='24'
                />
              </a>
            </div>
            <div class='spell-item-info'>
              <a class='item-clickable-name' data-action='useSpell' data-item-id='{{spell._id}}' data-tooltip='Use spell'>
                <strong>{{spell.name}}</strong>
              </a>
              {{#unless (eq spell.system.damageBase '-')}}
                <span class='spell-damage-badge'>
                  {{localize (lookup @root.config.damageTypes spell.system.damageBase)}}
                </span>
              {{/unless}}
              <span class='spell-delivery-info'>
                {{localize (lookup @root.config.deliveryTypes spell.system.delivery.type)}}
                {{#if spell.system.delivery.cost}}
                  ({{spell.system.delivery.cost}} Mana)
                {{/if}}
              </span>
            </div>
          </div>
          <div class='item-controls spell-list-item-controls'>
            <a
              class='item-control item-edit'
              data-tooltip='{{localize "DOCUMENT.Update" type="spell"}}'
              data-action='viewDoc'
            >
              <i class='fas fa-edit'></i>
            </a>
            {{#if @root.editable}}
              <a
                class='item-control item-delete'
                data-tooltip='{{localize "DOCUMENT.Delete" type="spell"}}'
                data-action='deleteDoc'
              >
                <i class='fas fa-trash'></i>
              </a>
            {{/if}}
          </div>
        </li>
      {{else}}
        <li class='no-spells spell-empty-message'>
          No spells yet. {{#if @root.editable}}Click the + button above to add a spell.{{/if}}
        </li>
      {{/each}}
    </ol>
  </div>
</section>
