{{! Spells Tab }}
<section
  class='tab spells scrollable {{tab.cssClass}}'
  data-group='primary'
  data-tab='spells'
>
  <div class='spells-section flexcol'>
    {{#if @root.editable}}
      <div class='item-controls' style='margin-bottom: 10px; text-align: right;'>
        <a
          class='item-control item-create'
          data-tooltip='{{localize "DOCUMENT.Create" type="Spell"}}'
          data-action='createDoc'
          data-document-class='Item'
          data-type='spell'
        >
          <i class='fas fa-plus'></i>
          {{localize 'VAGABOND.Item.Spell.AddSpell'}}
        </a>
      </div>
    {{/if}}

    <ol class='items-list'>
      {{#each spells as |spell|}}
        <li
          class='item flexrow draggable'
          data-item-id='{{spell._id}}'
          data-document-class='Item'
        >
          <div class='item-name flexrow' style='flex: 3; align-items: center;'>
            <div class='item-image'>
              <a class='rollable' data-roll-type='item' data-action='roll'>
                <img
                  src='{{spell.img}}'
                  data-tooltip='{{spell.name}}'
                  width='24'
                  height='24'
                />
              </a>
            </div>
            <div style='margin-left: 8px;'>
              <strong>{{spell.name}}</strong>
              {{#unless (eq spell.system.damageBase '-')}}
                <span class='damage-badge' style='margin-left: 8px; padding: 2px 6px; background: #444; border-radius: 3px; font-size: 10px;'>
                  {{localize (lookup @root.config.damageTypes spell.system.damageBase)}}
                </span>
              {{/unless}}
              <span class='delivery-info' style='margin-left: 8px; font-size: 11px; color: var(--vagabond-c-tan);'>
                {{localize (lookup @root.config.deliveryTypes spell.system.delivery.type)}}
                {{#if spell.system.delivery.cost}}
                  ({{spell.system.delivery.cost}} Mana)
                {{/if}}
              </span>
            </div>
          </div>
          <div class='item-controls' style='flex: 1; text-align: right;'>
            <a
              class='item-control item-edit'
              data-tooltip='{{localize "DOCUMENT.Update" type="spell"}}'
              data-action='viewDoc'
            >
              <i class='fas fa-edit'></i>
            </a>
            {{#if @root.editable}}
              <a
                class='item-control item-delete'
                data-tooltip='{{localize "DOCUMENT.Delete" type="spell"}}'
                data-action='deleteDoc'
              >
                <i class='fas fa-trash'></i>
              </a>
            {{/if}}
          </div>
        </li>
      {{else}}
        <li class='no-spells' style='font-style: italic; color: var(--vagabond-c-tan); list-style: none; padding: 20px; text-align: center;'>
          No spells yet. {{#if @root.editable}}Click the + button above to add a spell.{{/if}}
        </li>
      {{/each}}
    </ol>
  </div>
</section>
