{{! damage-display.hbs }}
<div class="damage-section">
    {{!-- 1. Black Arrow Header --}}
    <div class="damage-header-arrow" title="{{damage.formula}}">
        <span>{{localize "VAGABOND.UI.Sections.Damage"}}</span>
    </div>

    {{!-- 2. Damage Row --}}
    <div class="damage-row">
        {{!-- Total Amount with Burst Icon --}}
        <div class="damage-total-display">
             {{#if damage.isCritical}}
                <div class="crit-label">{{localize "VAGABOND.Roll.Critical"}}!</div>
             {{/if}}
            <i class="fas fa-burst damage-bg-icon"></i>
            <span class="damage-value">{{damage.total}}</span>
        </div>

        {{!-- Dice Icons --}}
        <div class="damage-dice-list">
             {{{damage.diceDisplay}}}
        </div>
    </div>
</div>