
                    {{!-- Starting Pack Contents Display --}}
                    {{#if (eq step 'starting-packs')}}
                        {{#if startingPackItems}}
                            <div class="starting-pack-contents">
                                <h3 class="preview-section-header">{{localize "VAGABOND.CharBuilder.PackContents"}}</h3>
                                <div class="pack-budget-info">
                                    <strong>{{localize "VAGABOND.CharBuilder.Budget"}}:</strong> {{startingPackItems.startingSilver}}s
                                </div>
                                <div class="pack-items-list">
                                    {{#each startingPackItems.items as |item|}}
                                        <div class="pack-item-row">
                                            <img src="{{item.img}}" alt="{{item.name}}" class="pack-item-img">
                                            <div class="pack-item-info">
                                                <span class="pack-item-name">{{item.name}}</span>
                                                <span class="pack-item-qty">x{{item.qty}}</span>
                                            </div>
                                            <div class="pack-item-meta">
                                                <span class="pack-item-slots">{{item.slots}} slots</span>
                                                <span class="pack-item-cost">{{item.costDisplay}}</span>
                                            </div>
                                        </div>
                                    {{/each}}
                                </div>
                            </div>
                        {{/if}}
                    {{/if}}
