<select name='{{name}}' data-dtype='String' {{#if cssClass}}class='{{cssClass}}'{{/if}}>
  {{! 1. Handle "None" / "-" manually if requested }}
  {{#if includeNone}}
    <option value="-" {{#if (eq selected '-')}}selected{{/if}} data-icon="{{lookup config.damageTypeIcons '-'}}">
      {{localize 'VAGABOND.DamageTypes.None'}}
    </option>
  {{/if}}

  {{! 2. Loop through all other configured damage types }}
  {{#each config.damageTypes as |label key|}}
    {{#unless (eq key '-')}}
      <option value="{{key}}" {{#if (eq ../selected key)}}selected{{/if}} data-icon="{{lookup ../config.damageTypeIcons key}}">
        {{localize label}}
      </option>
    {{/unless}}
  {{/each}}
</select>