<select name='{{name}}' data-dtype='String' {{#if cssClass}}class='{{cssClass}}'{{/if}}>
  {{#if includeNone}}
    <option value="-" {{#if (eq selected '-')}}selected{{/if}}>{{localize 'VAGABOND.DamageTypes.None'}}</option>
  {{/if}}
  <option value="acid" {{#if (eq selected 'acid')}}selected{{/if}}>{{localize 'VAGABOND.DamageTypes.Acid'}}</option>
  <option value="fire" {{#if (eq selected 'fire')}}selected{{/if}}>{{localize 'VAGABOND.DamageTypes.Fire'}}</option>
  <option value="shock" {{#if (eq selected 'shock')}}selected{{/if}}>{{localize 'VAGABOND.DamageTypes.Shock'}}</option>
  <option value="poison" {{#if (eq selected 'poison')}}selected{{/if}}>{{localize 'VAGABOND.DamageTypes.Poison'}}</option>
  <option value="cold" {{#if (eq selected 'cold')}}selected{{/if}}>{{localize 'VAGABOND.DamageTypes.Cold'}}</option>
  <option value="blunt" {{#if (eq selected 'blunt')}}selected{{/if}}>{{localize 'VAGABOND.DamageTypes.Blunt'}}</option>
  <option value="physical" {{#if (eq selected 'physical')}}selected{{/if}}>{{localize 'VAGABOND.DamageTypes.Physical'}}</option>
  <option value="necrotic" {{#if (eq selected 'necrotic')}}selected{{/if}}>{{localize 'VAGABOND.DamageTypes.Necrotic'}}</option>
  <option value="psychic" {{#if (eq selected 'psychic')}}selected{{/if}}>{{localize 'VAGABOND.DamageTypes.Psychic'}}</option>
  <option value="healing" {{#if (eq selected 'healing')}}selected{{/if}}>{{localize 'VAGABOND.DamageTypes.Healing'}}</option>
</select>
