<header class='sheet-header'>
  <img
    class='profile-img'
    src='{{item.img}}'
    data-edit='img'
    data-action='onEditImage'
    data-tooltip='{{item.name}}'
  />
  <div class='header-fields'>
    <div class='document-name'>
      <input name='name' type='text' value='{{item.name}}' placeholder='Name' />
    </div>
    
    {{#if (eq item.type 'gear')}}
      <div class='grid grid-2col'>
        <div class='resource'>
          <label class='resource-label'>{{localize 'VAGABOND.Item.Gear.FIELDS.quantity.label'}}</label>
          <input type='number' name='system.quantity' value='{{system.quantity}}' min='0' data-dtype='Number' />
        </div>
        <div class='resource'>
          <label class='resource-label'>{{localize 'VAGABOND.Item.Gear.FIELDS.slots.label'}}</label>
          <input type='number' name='system.slots' value='{{system.slots}}' data-dtype='Number' />
        </div>
      </div>
    {{/if}}
    
    {{#if (eq item.type 'ancestry')}}
      <div class='grid grid-2col'>
        <div class='resource'>
          <label class='resource-label'>{{localize 'VAGABOND.Item.Ancestry.FIELDS.size.label'}}</label>
          <select name='system.size' data-dtype='String'>
            <option value='tiny' {{#if (eq system.size 'tiny')}}selected{{/if}}>Tiny</option>
            <option value='small' {{#if (eq system.size 'small')}}selected{{/if}}>Small</option>
            <option value='medium' {{#if (eq system.size 'medium')}}selected{{/if}}>Medium</option>
            <option value='large' {{#if (eq system.size 'large')}}selected{{/if}}>Large</option>
            <option value='huge' {{#if (eq system.size 'huge')}}selected{{/if}}>Huge</option>
            <option value='gargantuan' {{#if (eq system.size 'gargantuan')}}selected{{/if}}>Gargantuan</option>
          </select>
        </div>
        <div class='resource'>
          <label class='resource-label'>{{localize 'VAGABOND.Item.Ancestry.FIELDS.ancestryType.label'}}</label>
          <select name='system.ancestryType' data-dtype='String'>
            <option value='Humanlike' {{#if (eq system.ancestryType 'Humanlike')}}selected{{/if}}>Humanlike</option>
            <option value='Fae' {{#if (eq system.ancestryType 'Fae')}}selected{{/if}}>Fae</option>
            <option value='Cryptid' {{#if (eq system.ancestryType 'Cryptid')}}selected{{/if}}>Cryptid</option>
            <option value='Artificials' {{#if (eq system.ancestryType 'Artificials')}}selected{{/if}}>Artificials</option>
            <option value='Beasts' {{#if (eq system.ancestryType 'Beasts')}}selected{{/if}}>Beasts</option>
            <option value='Outers' {{#if (eq system.ancestryType 'Outers')}}selected{{/if}}>Outers</option>
            <option value='Primordials' {{#if (eq system.ancestryType 'Primordials')}}selected{{/if}}>Primordials</option>
            <option value='Undead' {{#if (eq system.ancestryType 'Undead')}}selected{{/if}}>Undead</option>
          </select>
        </div>
      </div>
    {{/if}}

    {{#if (eq item.type 'weapon')}}
      <div class='grid grid-2col'>
        <div class='resource'>
          <label class='resource-label'>{{localize 'VAGABOND.Item.Weapon.FIELDS.range.label'}}</label>
          <select name='system.range' data-dtype='String'>
            {{#select system.range}}
              <option value='close'>Close</option>
              <option value='near'>Near</option>
              <option value='far'>Far</option>
            {{/select}}
          </select>
        </div>
        <div class='resource'>
          <label class='resource-label'>{{localize 'VAGABOND.Item.Weapon.FIELDS.grip.label'}}</label>
          <select name='system.grip' data-dtype='String'>
            {{#select system.grip}}
              <option value='1H' title='{{lookup config.weaponGripDescriptions "1H"}}'>1H (One-Handed)</option>
              <option value='2H' title='{{lookup config.weaponGripDescriptions "2H"}}'>2H (Two-Handed)</option>
              <option value='F' title='{{lookup config.weaponGripDescriptions "F"}}'>F (Fist)</option>
              <option value='V' title='{{lookup config.weaponGripDescriptions "V"}}'>V (Versatile)</option>
            {{/select}}
          </select>
        </div>
      </div>
    {{/if}}

    {{#if (eq item.type 'armor')}}
      <div class='grid grid-2col'>
        <div class='resource'>
          <label class='resource-label'>{{localize 'VAGABOND.Item.Armor.FIELDS.armorType.label'}}</label>
          <select name='system.armorType' data-dtype='String'>
            {{#select system.armorType}}
              <option value='light' title='{{lookup config.armorTypeDescriptions "light"}}'>{{localize 'VAGABOND.Armor.Type.Light'}}</option>
              <option value='medium' title='{{lookup config.armorTypeDescriptions "medium"}}'>{{localize 'VAGABOND.Armor.Type.Medium'}}</option>
              <option value='heavy' title='{{lookup config.armorTypeDescriptions "heavy"}}'>{{localize 'VAGABOND.Armor.Type.Heavy'}}</option>
            {{/select}}
          </select>
        </div>
        <div class='resource'>
          <label class='resource-label'>{{localize 'VAGABOND.Item.Armor.FIELDS.metal.label'}}</label>
          <select name='system.metal' data-dtype='String'>
            {{#select system.metal}}
              <option value='common' title='{{lookup config.metalData.common "effect"}}'>{{localize 'VAGABOND.Metal.Common'}}</option>
              <option value='adamant' title='{{lookup config.metalData.adamant "effect"}}'>{{localize 'VAGABOND.Metal.Adamant'}}</option>
              <option value='coldIron' title='{{lookup config.metalData.coldIron "effect"}}'>{{localize 'VAGABOND.Metal.ColdIron'}}</option>
              <option value='silver' title='{{lookup config.metalData.silver "effect"}}'>{{localize 'VAGABOND.Metal.Silver'}}</option>
              <option value='mythral' title='{{lookup config.metalData.mythral "effect"}}'>{{localize 'VAGABOND.Metal.Mythral'}}</option>
              <option value='orichalcum' title='{{lookup config.metalData.orichalcum "effect"}}'>{{localize 'VAGABOND.Metal.Orichalcum'}}</option>
            {{/select}}
          </select>
        </div>
      </div>
    {{/if}}

    {{#if (eq item.type 'class')}}
      <div class='class-spellcaster-fields'>
        <div class='grid grid-3col'>
          <div class='resource'>
            <label class='resource-label'>
              <input
                type='checkbox'
                name='system.isSpellcaster'
                {{checked system.isSpellcaster}}
                {{#unless editable}}disabled{{/unless}}
              />
              Is Spellcaster
            </label>
          </div>
          <div class='resource'>
            <label class='resource-label'>Mana Skill</label>
            <select name='system.manaSkill' {{#unless editable}}disabled{{/unless}}>
              <option value=''>-- Select Skill --</option>
              <option value='arcana' {{#if (eq system.manaSkill 'arcana')}}selected{{/if}}>Arcana</option>
              <option value='craft' {{#if (eq system.manaSkill 'craft')}}selected{{/if}}>Craft</option>
              <option value='medicine' {{#if (eq system.manaSkill 'medicine')}}selected{{/if}}>Medicine</option>
              <option value='brawl' {{#if (eq system.manaSkill 'brawl')}}selected{{/if}}>Brawl</option>
              <option value='finesse' {{#if (eq system.manaSkill 'finesse')}}selected{{/if}}>Finesse</option>
              <option value='sneak' {{#if (eq system.manaSkill 'sneak')}}selected{{/if}}>Sneak</option>
              <option value='detect' {{#if (eq system.manaSkill 'detect')}}selected{{/if}}>Detect</option>
              <option value='mysticism' {{#if (eq system.manaSkill 'mysticism')}}selected{{/if}}>Mysticism</option>
              <option value='survival' {{#if (eq system.manaSkill 'survival')}}selected{{/if}}>Survival</option>
              <option value='influence' {{#if (eq system.manaSkill 'influence')}}selected{{/if}}>Influence</option>
              <option value='leadership' {{#if (eq system.manaSkill 'leadership')}}selected{{/if}}>Leadership</option>
              <option value='performance' {{#if (eq system.manaSkill 'performance')}}selected{{/if}}>Performance</option>
            </select>
          </div>
          <div class='resource'>
            <label class='resource-label'>Casting Stat</label>
            <select name='system.castingStat' {{#unless editable}}disabled{{/unless}}>
              <option value=''>-- Select Stat --</option>
              <option value='might' {{#if (eq system.castingStat 'might')}}selected{{/if}}>Might</option>
              <option value='dexterity' {{#if (eq system.castingStat 'dexterity')}}selected{{/if}}>Dexterity</option>
              <option value='reason' {{#if (eq system.castingStat 'reason')}}selected{{/if}}>Reason</option>
              <option value='awareness' {{#if (eq system.castingStat 'awareness')}}selected{{/if}}>Awareness</option>
              <option value='presence' {{#if (eq system.castingStat 'presence')}}selected{{/if}}>Presence</option>
              <option value='luck' {{#if (eq system.castingStat 'luck')}}selected{{/if}}>Luck</option>
            </select>
          </div>
        </div>
      </div>
    {{/if}}
  </div>
</header>